# Pre-process our tennis data set so we can feed in the data to ML and DL model

*

In [3]:
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline

DATASET_DIR = '../datasets'

In [4]:
# read in our ATP data set and parse tournament dates
matches_orig = pd.read_csv(f'{DATASET_DIR}/atpdata/ATP.csv', parse_dates=["tourney_date"])

# we will get tournament info from another dataset
tourney_orig= pd.read_csv(f'{DATASET_DIR}/a-large-tennis-dataset-for-atp-and-itf-betting/all_tournaments.csv')

# Data Cleaning

In [5]:
# make all column names lower case so it's easier to remember
matches = matches_orig
matches.columns = [col.strip().lower() for col in matches.columns]

# these columns don't have much data from our EDA so we can't impute. Let's drop them
# for rank points - these are used to determine a player's ranking in the ATP at the moment of the tournament so it's duplicate of rank - will drop this as well
drop_columns = ["draw_size","loser_entry", "winner_entry", "loser_seed", "winner_seed"]
# drop_columns = ["draw_size","loser_entry", "winner_entry", "loser_seed", "winner_seed", "loser_rank_points", "winner_rank_points"]
matches = matches.drop(drop_columns, axis=1)

# we only care about professional tournaments since we are prediction grand slams so let's filter out non-professional tournaments
matches = matches[~matches.tourney_level.isin(["C", "S", "D"])]

# ATP was formed in 1972. Federer turned Pro in 1998, we will only look at matches since January 1998
matches = matches[matches.tourney_date > datetime.datetime(1997, 12, 31)].copy()

# tourney_id is actually a little bit mis-leading - it has the format of {year}-{tourney_id}
# let's split this
matches = matches.rename({"tourney_id": "year_tourney_id"}, axis=1)
matches["tourney_year"] = matches.year_tourney_id.apply(lambda x: x.split("-")[0])
matches["tourney_id"] = matches.year_tourney_id.apply(lambda x: x.split("-")[1])

Let's standarize data that is non-numeric by stripping out leading/trailing spaces and converting to lowercase

In [6]:
# keys for the data are player names and tournament names - these are strings
# we also have come categorical columns - ie loser_hand, winner_hand, surface, tourney_level, 
# let's convert any non-numerical column data into lower case and strip

# first let's print one of the columns
print("Before lowering...")
print(matches[:5].loser_hand)

lower_columns = [col for col, dt in matches.dtypes.items() if dt == np.object]
for col in lower_columns:
    matches[col] = matches[col].str.strip()
    matches[col] = matches[col].str.lower()

# check to make sure we've done this correctly
print("After lowering...")
matches[:5].loser_hand

Before lowering...
103342    R
103343    R
103344    R
103345    R
103346    R
Name: loser_hand, dtype: object
After lowering...

103342    r
103343    r
103344    r
103345    r
103346    r
Name: loser_hand, dtype: object

In [7]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59764 entries, 103342 to 169689
Data columns (total 46 columns):
best_of               59764 non-null int64
l_1stin               59164 non-null float64
l_1stwon              59164 non-null float64
l_2ndwon              59164 non-null float64
l_svgms               59164 non-null float64
l_ace                 59164 non-null float64
l_bpfaced             59164 non-null float64
l_bpsaved             59164 non-null float64
l_df                  59164 non-null float64
l_svpt                59164 non-null float64
loser_age             59764 non-null float64
loser_hand            59764 non-null object
loser_ht              55821 non-null float64
loser_id              59764 non-null int64
loser_ioc             59764 non-null object
loser_name            59764 non-null object
loser_rank            59608 non-null float64
loser_rank_points     59608 non-null float64
match_num             59764 non-null int64
minutes               57858 non-null float64
round                 59764 non-null object
score                 59763 non-null object
surface               59764 non-null object
tourney_date          59764 non-null datetime64[ns]
year_tourney_id       59764 non-null object
tourney_level         59764 non-null object
tourney_name          59764 non-null object
w_1stin               59164 non-null float64
w_1stwon              59164 non-null float64
w_2ndwon              59164 non-null float64
w_svgms               59164 non-null float64
w_ace                 59164 non-null float64
w_bpfaced             59164 non-null float64
w_bpsaved             59164 non-null float64
w_df                  59164 non-null float64
w_svpt                59164 non-null float64
winner_age            59764 non-null float64
winner_hand           59764 non-null object
winner_ht             57500 non-null float64
winner_id             59764 non-null int64
winner_ioc            59764 non-null object
winner_name           59764 non-null object
winner_rank           59717 non-null float64
winner_rank_points    59717 non-null float64
tourney_year          59764 non-null object
tourney_id            59764 non-null object
dtypes: datetime64[ns](1), float64(27), int64(4), object(14)
memory usage: 21.4+ MB

# Impute Missing Data

We are missing some matches's minutes (ie, length of the match). We can impute this - since matches length might depend on the tournament (ie, surface) and whether the tournament is best of 3 or 5 - we will use this inforamation to impute by using the mean of match minutes for that tournament

NOTE: height & weight let's do this later

In [8]:
## Some matches are misssing minutes

In [9]:
# we are missing some matches's minutes (ie, length of the match)
# we can impute this - since matches length might depend on the tournament (ie, surface) 
# and whether the tournament is best of 3 or 5 - we will use this inforamation 
# to impute by using the mean of match minutes for that tournament
tids = {id for id in matches[matches.minutes.isnull()].tourney_id}
for tid in tids:
    matches.loc[(matches.minutes.isnull()) & (matches.tourney_id == tid), "minutes"] = \
             matches[(matches.minutes.notnull()) & (matches.tourney_id == tid)].minutes.mean()

In [10]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59764 entries, 103342 to 169689
Data columns (total 46 columns):
best_of               59764 non-null int64
l_1stin               59164 non-null float64
l_1stwon              59164 non-null float64
l_2ndwon              59164 non-null float64
l_svgms               59164 non-null float64
l_ace                 59164 non-null float64
l_bpfaced             59164 non-null float64
l_bpsaved             59164 non-null float64
l_df                  59164 non-null float64
l_svpt                59164 non-null float64
loser_age             59764 non-null float64
loser_hand            59764 non-null object
loser_ht              55821 non-null float64
loser_id              59764 non-null int64
loser_ioc             59764 non-null object
loser_name            59764 non-null object
loser_rank            59608 non-null float64
loser_rank_points     59608 non-null float64
match_num             59764 non-null int64
minutes               59742 non-null float64
round                 59764 non-null object
score                 59763 non-null object
surface               59764 non-null object
tourney_date          59764 non-null datetime64[ns]
year_tourney_id       59764 non-null object
tourney_level         59764 non-null object
tourney_name          59764 non-null object
w_1stin               59164 non-null float64
w_1stwon              59164 non-null float64
w_2ndwon              59164 non-null float64
w_svgms               59164 non-null float64
w_ace                 59164 non-null float64
w_bpfaced             59164 non-null float64
w_bpsaved             59164 non-null float64
w_df                  59164 non-null float64
w_svpt                59164 non-null float64
winner_age            59764 non-null float64
winner_hand           59764 non-null object
winner_ht             57500 non-null float64
winner_id             59764 non-null int64
winner_ioc            59764 non-null object
winner_name           59764 non-null object
winner_rank           59717 non-null float64
winner_rank_points    59717 non-null float64
tourney_year          59764 non-null object
tourney_id            59764 non-null object
dtypes: datetime64[ns](1), float64(27), int64(4), object(14)
memory usage: 21.4+ MB

In [11]:
matches[matches.minutes.isnull()][["year_tourney_id", "minutes"]]

       year_tourney_id  minutes
106373        1998-604      NaN
106374        1998-604      NaN
106375        1998-604      NaN
106376        1998-604      NaN
106377        1998-604      NaN
106378        1998-604      NaN
106379        1998-604      NaN
106380        1998-604      NaN
106381        1998-604      NaN
106382        1998-604      NaN
106383        1998-604      NaN
109841        1999-604      NaN
109842        1999-604      NaN
109843        1999-604      NaN
109844        1999-604      NaN
109845        1999-604      NaN
109846        1999-604      NaN
109847        1999-604      NaN
109848        1999-604      NaN
109849        1999-604      NaN
109850        1999-604      NaN
109851        1999-604      NaN

Looks like there is still a subset of tournaments where we do not have any results. This is ok - minutes will be used as part of feature engineering. We will just have to skip over these records when we create features later.

Looks like '98 and '99 Grand Slam Cup did not record match minutes. This is a year end tournament: 
https://www.grandslamhistory.com/atp/grand-slam-cup-munich

In [12]:
matches[matches.year_tourney_id.isin(matches[matches.minutes.isnull()].year_tourney_id.tolist())]["tourney_name"].unique()

array(['grand slam cup'], dtype=object)

## Impute Height

We are missing some values for player height. This, we can impute by using the average height

In [13]:
# impute height with mean of players
matches.loc[matches.loser_ht.isnull(), 'loser_ht'] = matches.loser_ht.mean()
matches.loc[matches.winner_ht.isnull(), 'winner_ht'] = matches.winner_ht.mean()

In [14]:
matches.sample(5).T

,130829,112604,164510,125028,146679
best_of,3,3,3,3,3
l_1stin,47,56,73,75,36
l_1stwon,20,40,49,52,15
l_2ndwon,12,21,24,12,10
l_svgms,7,16,17,16,9
l_ace,1,10,15,2,0
l_bpfaced,17,9,9,4,13
l_bpsaved,13,5,6,1,5
l_df,0,3,4,2,1
l_svpt,66,90,117,101,65
loser_age,24.21,24.6,26.54,27.75,25.2
loser_hand,r,l,r,r,r
loser_ht,180,175,193,193,193
loser_id,103900,102701,105657,102854,104678
loser_ioc,arg,chi,rou,ned,srb
loser_name,david nalbandian,marcelo rios,marius copil,sjeng schalken,viktor troicki
loser_rank,3,22,109,16,16
loser_rank_points,2560,1243,520,1340,1815
match_num,94,49,286,45,20
minutes,73,131,148,142,99
round,sf,r16,r16,r16,r16
score,6-1 6-2,2-6 7-5 7-5,4-6 7-6(3) 7-5,7-6(3) 6-7(6) 6-3,6-2 6-3
surface,hard,hard,clay,grass,clay
tourney_date,2006-03-20 00:00:00,2000-07-31 00:00:00,2017-05-01 00:00:00,2004-06-07 00:00:00,2011-04-25 00:00:00
year_tourney_id,2006-403,2000-421,2017-0308,2004-311,2011-5053
tourney_level,m,m,a,a,a
tourney_name,miami masters,canada masters,munich,queen's club,belgrade
w_1stin,26,52,76,82,41
w_1stwon,25,36,52,59,24
w_2ndwon,7,23,16,18,5
w_svgms,8,16,17,17,8
w_ace,12,3,2,7,0
w_bpfaced,0,8,6,7,10
w_bpsaved,0,4,3,5,6
w_df,0,6,1,2,1
w_svpt,37,100,99,115,59
winner_age,27,26.89,29.05,28.43,25.03
winner_hand,r,l,r,r,r
winner_ht,193,188,183,180,190
winner_id,103344,102259,105138,102703,104719
winner_ioc,cro,fra,esp,kor,esp
winner_name,ivan ljubicic,jerome golmard,roberto bautista agut,hyung taik lee,marcel granollers
winner_rank,6,61,18,99,52
winner_rank_points,2295,683,2145,408,943
tourney_year,2006,2000,2017,2004,2011
tourney_id,403,421,0308,311,5053

In [15]:
# Lastly, let's drop any rows where we don't have scores for the matches
matches = matches.dropna(axis=0, subset=["score", "minutes"])

In [16]:
matches.columns[matches.isnull().any()].tolist()

['l_1stin',
 'l_1stwon',
 'l_2ndwon',
 'l_svgms',
 'l_ace',
 'l_bpfaced',
 'l_bpsaved',
 'l_df',
 'l_svpt',
 'loser_rank',
 'loser_rank_points',
 'w_1stin',
 'w_1stwon',
 'w_2ndwon',
 'w_svgms',
 'w_ace',
 'w_bpfaced',
 'w_bpsaved',
 'w_df',
 'w_svpt',
 'winner_rank',
 'winner_rank_points']

## Missing Rank

When loser doesn't have a rank, loser doesn't have points either

This is the same with winners

In [37]:
# losers without rank but have points
print(len(matches[(matches.loser_rank.isnull()) & (matches.loser_rank_points.notnull())]))
# winners without rank but have points
print(len(matches[(matches.winner_rank.isnull()) & (matches.winner_rank_points.notnull())]))

0
0

When you look closer, I don't recognize all players, but Tim Henman was an English player that was at the top of his game in 1998 and was in the top 10 according to his wikipedia page: https://en.wikipedia.org/wiki/Tim_Henman

So I think we should somehow impute this

In [35]:
matches[(matches.winner_rank.isnull())][["tourney_date", "year_tourney_id", "round", "tourney_name", "winner_name"]].head(10)

0

       tourney_date year_tourney_id round  tourney_name       winner_name
105214   1998-06-22        1998-540  r128     wimbledon  mikael tillstrom
105593   1998-07-20        1998-418   r64    washington       jimmy arias
105693   1998-07-27        1998-423   r32   los angeles        tim henman
105701   1998-07-27        1998-423   r16   los angeles        tim henman
105705   1998-07-27        1998-423    qf   los angeles        tim henman
105707   1998-07-27        1998-423    sf   los angeles        tim henman
105922   1998-08-17        1998-419   r64  indianapolis       wayne black
105942   1998-08-17        1998-419   r32  indianapolis       wayne black
106034   1998-08-24         1998-80   r32        boston        jiri novak
106420   1998-09-28        1998-327   r32      toulouse    lionel barthez

I think a reasonable way to to impute the data for that tournament. We will take the mean of the player rank in that round and impute into our missing ranks

In [39]:
def impute_missing_rank(matches: pd.DataFrame, missing_list: pd.DataFrame, name_col: str) -> pd.DataFrame:
    for index, player in missing_list.iteritems():
        print(matches[(matches.year_tourney_id == player.year_tourney_id) & 
                (matches.round == player.round)])

In [41]:
loser_missing_ranks = matches[matches.loser_rank.isnull()][["year_tourney_id", "round", "loser_name"]]
impute_missing_rank(matches, loser_missing_ranks, "loser_name")

AttributeError: 'Series' object has no attribute 'year_tourney_id'

In [ ]:
winner_missing_ranks = matches[matches.winner_rank.isnull()][["year_tourney_id", "round", "winner_name"]]

In [19]:
matches_orig[matches_orig.loser_rank.isnull()].sample(10).T

,46731,428,7651,9915,44479,41825,11078,11195,11208,51373
best_of,5,3,5,5,3,3,3,3,5,5
draw_size,NaN,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l_1stin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l_1stwon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l_2ndwon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l_svgms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l_ace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l_bpfaced,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l_bpsaved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l_df,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l_svpt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loser_age,30.21,NaN,27.72,28.27,22.85,17.85,24.86,22.17,22.81,14.78
loser_entry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q
loser_hand,R,U,U,R,L,R,R,R,R,U
loser_ht,178,NaN,NaN,188,185,180,NaN,NaN,183,NaN
loser_id,100272,109892,111000,100091,100574,100924,100162,100235,100214,130938
loser_ioc,USA,SWE,ISR,AUS,USA,MEX,NZL,ESP,ITA,IRL
loser_name,Sandy Mayer,Kenneth Andersson,Yehoshua Shalem,Colin Dibley,Peter Rennert,Jorge Lozano,Brian Fairlie,Antonio Munoz,Adriano Panatta,John Austin
loser_rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loser_rank_points,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loser_seed,4,NaN,NaN,7,NaN,NaN,4,NaN,NaN,NaN
match_num,282,8,2,38,17,6,26,32,45,206
minutes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
round,R32,R64,RR,R32,R64,R32,QF,R16,F,R128
score,3-6 6-7 6-4 6-2 6-4,6-2 6-2,6-1 6-1 6-4,3-6 6-3 6-3 7-6,6-3 6-4,7-6 7-6,1-6 7-6 6-4,6-1 6-3,6-3 3-6 0-6 7-6 6-4,4-6 6-4 4-6 6-2 6-2
surface,Grass,Clay,Hard,Grass,Hard,Hard,Carpet,Clay,Clay,Hard
tourney_date,1982-06-21 00:00:00,1968-04-15 00:00:00,1972-04-21 00:00:00,1972-12-26 00:00:00,1981-11-02 00:00:00,1981-03-23 00:00:00,1973-04-23 00:00:00,1973-04-30 00:00:00,1973-04-30 00:00:00,1983-08-30 00:00:00
tourney_id,1982-540,1968-410,1972-D032,1973-580,1981-429,1981-356,1973-389,1973-310,1973-310,1983-560
tourney_level,G,A,D,G,A,A,A,A,A,G
tourney_name,Wimbledon,Monte Carlo,Davis Cup EUR PR: ISR vs IRI,Australian Open,Stockholm,Napa,Denver WCT,Florence,Florence,US Open
w_1stin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
w_1stwon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
w_2ndwon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
w_svgms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
w_ace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
w_bpfaced,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
w_bpsaved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
w_df,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
w_svpt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
winner_age,21.88,25.2923,NaN,28.9,34.89,25.96,29.8,23.13,26.78,22.04
winner_entry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
winner_hand,R,R,R,R,R,R,L,R,R,R
winner_ht,190,NaN,NaN,NaN,193,193,NaN,185,183,188
winner_id,100689,100071,108343,100080,100126,100375,100073,100205,100119,100765
winner_ioc,USA,FRA,IRI,HUN,USA,USA,GBR,USA,ROU,USA
winner_name,Tim Mayotte,Jean Claude Barclay,Taghi Akbari,Szabolcz Baranyi,Stan Smith,John Hayes,Mark Cox,Paul Gerken,Ilie Nastase,Rodney Harmon
winner_rank,NaN,NaN,NaN,NaN,28,92,NaN,NaN,NaN,67
winner_rank_points,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
winner_seed,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN