# Pre-process our tennis data set so we can feed in the data to ML and DL model

Match data source: https://github.com/JeffSackmann/tennis_atp

In [1]:
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline

# Reading Dataset

In [2]:
DATASET_DIR = '../datasets'
years = np.arange(1998, 2020)

matches_orig = pd.DataFrame()
for year in years:
    matches_orig = matches_orig.append(pd.read_csv(f'{DATASET_DIR}/tennis_atp-master/atp_matches_{year}.csv', parse_dates=["tourney_date"]), ignore_index=True)
    
print(len(matches_orig))
# read in our ATP data set and parse tournament dates
# matches_orig = pd.read_csv(f'{DATASET_DIR}/tennis_atp-master/ATP.csv', parse_dates=["tourney_date"])
matches_orig.sample(10).T

66348

,28416,36763,46537,53565,18049,11311,50058,9814,34238,47307
tourney_id,2006-540,2009-D052,2012-1536,2014-D059,2003-308,2001-D039,2013-315,2000-D026,2008-308,2012-423
tourney_name,Wimbledon,Davis Cup G2 R1: DEN vs FIN,Madrid Masters,Davis Cup G1 PO: ROU vs SWE,Munich,Davis Cup G2 SF: URU vs AHO,Newport,Davis Cup G1 PO: COL vs ARG,Munich,Los Angeles
surface,Grass,Hard,Clay,Clay,Clay,Clay,Grass,Clay,Clay,Hard
draw_size,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tourney_level,G,D,M,D,A,D,A,D,A,A
tourney_date,2006-06-26 00:00:00,2009-03-06 00:00:00,2012-05-06 00:00:00,2014-09-12 00:00:00,2003-04-28 00:00:00,2001-04-06 00:00:00,2013-07-08 00:00:00,2000-10-06 00:00:00,2008-04-28 00:00:00,2012-07-23 00:00:00
match_num,91,4,32,4,20,5,6,4,19,20
winner_id,103813,103813,103970,104494,102905,103593,105216,102860,102703,105023
winner_seed,22,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,2
winner_entry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
winner_name,Jarkko Nieminen,Jarkko Nieminen,David Ferrer,Adrian Ungur,Stefan Koubek,Marcelo Barboza,Yuichi Sugita,Agustin Calleri,Hyung Taik Lee,Sam Querrey
winner_hand,L,L,R,R,L,R,R,R,R,R
winner_ht,185,185,175,178,175,NaN,173,183,180,198
winner_ioc,FIN,FIN,ESP,ROU,AUT,URU,JPN,ARG,KOR,USA
winner_age,24.93,27.62,30.09,29.63,26.32,20.73,24.8,24.06,32.32,24.79
loser_id,103114,104233,103285,111200,102450,108614,105028,104027,103395,104997
loser_seed,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN
loser_entry,WC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LL,NaN
loser_name,Martin Lee,Frederik Nielsen,Radek Stepanek,Elias Ymer,Tim Henman,Raoul Behr,Jesse Levine,Pablo Gonzalez,Julio Silva,Igor Sijsling
loser_hand,L,R,R,R,R,U,L,R,R,R
loser_ht,180,190,185,NaN,185,NaN,175,178,173,190
loser_ioc,GBR,DEN,CZE,SWE,GBR,AHO,CAN,COL,BRA,NED
loser_age,28.45,25.52,33.44,18.42,28.64,24.53,25.73,18.26,28.83,24.93
score,6-4 6-0 6-3,6-1 6-3 3-6 5-7 6-1,7-6(4) 6-2,3-6 6-4 7-6(4) 6-3,6-4 6-0,6-0 6-2,7-5 7-5,6-3 6-1,6-1 6-4,6-2 6-2
best_of,5,5,3,5,3,3,3,3,3,3
round,R64,RR,R32,RR,R16,RR,R32,RR,R16,R16
minutes,85,NaN,87,NaN,65,NaN,100,NaN,69,54
w_ace,2,NaN,3,NaN,0,NaN,6,NaN,2,9
w_df,5,NaN,0,NaN,2,NaN,4,NaN,0,2
w_svpt,75,NaN,59,NaN,43,NaN,77,NaN,58,44
w_1stIn,48,NaN,37,NaN,24,NaN,42,NaN,41,27
w_1stWon,38,NaN,31,NaN,17,NaN,24,NaN,28,23
w_2ndWon,16,NaN,14,NaN,15,NaN,15,NaN,11,10
w_SvGms,12,NaN,10,NaN,8,NaN,12,NaN,9,8
w_bpSaved,1,NaN,1,NaN,2,NaN,4,NaN,2,0
w_bpFaced,1,NaN,1,NaN,3,NaN,10,NaN,3,0
l_ace,6,NaN,1,NaN,3,NaN,6,NaN,3,5
l_df,3,NaN,5,NaN,1,NaN,13,NaN,2,3
l_svpt,86,NaN,57,NaN,55,NaN,94,NaN,56,55
l_1stIn,46,NaN,37,NaN,31,NaN,54,NaN,39,32
l_1stWon,26,NaN,27,NaN,15,NaN,30,NaN,21,22
l_2ndWon,17,NaN,11,NaN,11,NaN,13,NaN,7,6
l_SvGms,13,NaN,10,NaN,8,NaN,12,NaN,8,8
l_bpSaved,3,NaN,1,NaN,5,NaN,8,NaN,8,5
l_bpFaced,9,NaN,3,NaN,10,NaN,16,NaN,12,9
winner_rank,18,58,6,134,63,715,148,71,55,57
winner_rank_points,1390,1210,4280,439,640,16,374,611,649,799
loser_rank,252,290,26,242,31,NaN,123,698,184,102
loser_rank_points,149,247,1340,201,1080,NaN,478,17,217,540

# Data Cleaning

In [3]:
# make all column names lower case so it's easier to remember
matches = matches_orig
matches.columns = [col.strip().lower() for col in matches.columns]

# these columns don't have much data from our EDA so we can't impute. Let's drop them
# for rank points - these are used to determine a player's ranking in the ATP at the moment of the tournament so it's duplicate of rank - will drop this as well
drop_columns = ["draw_size","loser_entry", "winner_entry", "loser_seed", "winner_seed", "loser_rank_points", "winner_rank_points"]
matches = matches.drop(drop_columns, axis=1)

# we only care about professional tournaments since we are prediction grand slams so let's filter out non-professional tournaments
matches = matches[~matches.tourney_level.isin(["C", "S", "D"])]

# ATP was formed in 1972. Federer turned Pro in 1998, we will only look at matches since January 1998
matches = matches[matches.tourney_date > datetime.datetime(1997, 12, 31)].copy()

# tourney_id is actually a little bit mis-leading - it has the format of {year}-{tourney_id} or {year} {tourney_id}
# let's split this
print(matches[matches.tourney_id == "1999 495"])

matches = matches.rename({"tourney_id": "year_tourney_id"}, axis=1)
matches["year_tourney_id"] = matches["year_tourney_id"].apply(lambda x: x.replace(" ", "-"))
matches["tourney_year"] = matches.year_tourney_id.apply(lambda x: x.split("-")[0])
matches["tourney_id"] = matches.year_tourney_id.apply(lambda x: x.split("-")[1])

print(matches[matches.year_tourney_id == "1999 495"])

Empty DataFrame
Columns: [tourney_id, tourney_name, surface, tourney_level, tourney_date, match_num, winner_id, winner_name, winner_hand, winner_ht, winner_ioc, winner_age, loser_id, loser_name, loser_hand, loser_ht, loser_ioc, loser_age, score, best_of, round, minutes, w_ace, w_df, w_svpt, w_1stin, w_1stwon, w_2ndwon, w_svgms, w_bpsaved, w_bpfaced, l_ace, l_df, l_svpt, l_1stin, l_1stwon, l_2ndwon, l_svgms, l_bpsaved, l_bpfaced, winner_rank, loser_rank]
Index: []

[0 rows x 42 columns]
Empty DataFrame
Columns: [year_tourney_id, tourney_name, surface, tourney_level, tourney_date, match_num, winner_id, winner_name, winner_hand, winner_ht, winner_ioc, winner_age, loser_id, loser_name, loser_hand, loser_ht, loser_ioc, loser_age, score, best_of, round, minutes, w_ace, w_df, w_svpt, w_1stin, w_1stwon, w_2ndwon, w_svgms, w_bpsaved, w_bpfaced, l_ace, l_df, l_svpt, l_1stin, l_1stwon, l_2ndwon, l_svgms, l_bpsaved, l_bpfaced, winner_rank, loser_rank, tourney_year, tourney_id]
Index: []

[0 rows x 44 columns]

### Clean String Columns 

Let's standarize data that is non-numeric by stripping out leading/trailing spaces and converting to lowercase

We will also remove any special characters

In [4]:
# keys for the data are player names and tournament names - these are strings
# we also have come categorical columns - ie loser_hand, winner_hand, surface, tourney_level, 
# let's convert any non-numerical column data into lower case and strip
# we will also remove any special characters and accents

import unicodedata
import re

# first let's print one of the columns
print("Before lowering...")
print(matches[:5].loser_hand)

lower_columns = [col for col, dt in matches.dtypes.items() if dt == np.object]
for col in lower_columns:
    print(f'cleaning col {col}')
    matches[col] = matches[col].str.strip()
    matches[col] = matches[col].str.lower()
    matches[col] = matches[col].apply(lambda x: unicodedata.normalize('NFKD', str(x)).encode('ascii', 'ignore').decode('utf-8', 'ignore'))
    # we won't do this for score because they should look like 6-3 6-7(7)
    if col != "score":
        matches[col] = matches[col].apply(lambda x: re.sub('[^a-zA-Z0-9\s]', ' ', x, flags=re.I | re.A))


# check to make sure we've done this correctly
print("After lowering...")
matches[:5].loser_hand

Before lowering...
0    R
1    R
2    R
3    R
4    R
Name: loser_hand, dtype: object
cleaning col year_tourney_id
cleaning col tourney_name
cleaning col surface
cleaning col tourney_level
cleaning col winner_name
cleaning col winner_hand
cleaning col winner_ioc
cleaning col loser_name
cleaning col loser_hand
cleaning col loser_ioc
cleaning col score
cleaning col round
cleaning col tourney_year
cleaning col tourney_id
After lowering...

0    r
1    r
2    r
3    r
4    r
Name: loser_hand, dtype: object

In [5]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59764 entries, 0 to 66347
Data columns (total 44 columns):
year_tourney_id    59764 non-null object
tourney_name       59764 non-null object
surface            59764 non-null object
tourney_level      59764 non-null object
tourney_date       59764 non-null datetime64[ns]
match_num          59764 non-null int64
winner_id          59764 non-null int64
winner_name        59764 non-null object
winner_hand        59764 non-null object
winner_ht          57500 non-null float64
winner_ioc         59764 non-null object
winner_age         59764 non-null float64
loser_id           59764 non-null int64
loser_name         59764 non-null object
loser_hand         59764 non-null object
loser_ht           55821 non-null float64
loser_ioc          59764 non-null object
loser_age          59764 non-null float64
score              59764 non-null object
best_of            59764 non-null int64
round              59764 non-null object
minutes            57858 non-null float64
w_ace              59164 non-null float64
w_df               59164 non-null float64
w_svpt             59164 non-null float64
w_1stin            59164 non-null float64
w_1stwon           59164 non-null float64
w_2ndwon           59164 non-null float64
w_svgms            59164 non-null float64
w_bpsaved          59164 non-null float64
w_bpfaced          59164 non-null float64
l_ace              59164 non-null float64
l_df               59164 non-null float64
l_svpt             59164 non-null float64
l_1stin            59164 non-null float64
l_1stwon           59164 non-null float64
l_2ndwon           59164 non-null float64
l_svgms            59164 non-null float64
l_bpsaved          59164 non-null float64
l_bpfaced          59164 non-null float64
winner_rank        59717 non-null float64
loser_rank         59608 non-null float64
tourney_year       59764 non-null object
tourney_id         59764 non-null object
dtypes: datetime64[ns](1), float64(25), int64(4), object(14)
memory usage: 20.5+ MB

# Impute Missing Data

We are missing some matches's minutes (ie, length of the match). We can impute this - since matches length might depend on the tournament (ie, surface) and whether the tournament is best of 3 or 5 - we will use this inforamation to impute by using the mean of match minutes for that tournament

NOTE: height & weight let's do this later

In [6]:
## Some matches are misssing minutes

In [7]:
# we are missing some matches's minutes (ie, length of the match)
# we can impute this - since matches length might depend on the tournament (ie, surface) 
# and whether the tournament is best of 3 or 5 - we will use this inforamation 
# to impute by using the mean of match minutes for that tournament
tids = {id for id in matches[matches.minutes.isnull()].tourney_id}
for tid in tids:
    matches.loc[(matches.minutes.isnull()) & (matches.tourney_id == tid), "minutes"] = \
             matches[(matches.minutes.notnull()) & (matches.tourney_id == tid)].minutes.mean()

In [8]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59764 entries, 0 to 66347
Data columns (total 44 columns):
year_tourney_id    59764 non-null object
tourney_name       59764 non-null object
surface            59764 non-null object
tourney_level      59764 non-null object
tourney_date       59764 non-null datetime64[ns]
match_num          59764 non-null int64
winner_id          59764 non-null int64
winner_name        59764 non-null object
winner_hand        59764 non-null object
winner_ht          57500 non-null float64
winner_ioc         59764 non-null object
winner_age         59764 non-null float64
loser_id           59764 non-null int64
loser_name         59764 non-null object
loser_hand         59764 non-null object
loser_ht           55821 non-null float64
loser_ioc          59764 non-null object
loser_age          59764 non-null float64
score              59764 non-null object
best_of            59764 non-null int64
round              59764 non-null object
minutes            59742 non-null float64
w_ace              59164 non-null float64
w_df               59164 non-null float64
w_svpt             59164 non-null float64
w_1stin            59164 non-null float64
w_1stwon           59164 non-null float64
w_2ndwon           59164 non-null float64
w_svgms            59164 non-null float64
w_bpsaved          59164 non-null float64
w_bpfaced          59164 non-null float64
l_ace              59164 non-null float64
l_df               59164 non-null float64
l_svpt             59164 non-null float64
l_1stin            59164 non-null float64
l_1stwon           59164 non-null float64
l_2ndwon           59164 non-null float64
l_svgms            59164 non-null float64
l_bpsaved          59164 non-null float64
l_bpfaced          59164 non-null float64
winner_rank        59717 non-null float64
loser_rank         59608 non-null float64
tourney_year       59764 non-null object
tourney_id         59764 non-null object
dtypes: datetime64[ns](1), float64(25), int64(4), object(14)
memory usage: 20.5+ MB

In [9]:
matches[matches.minutes.isnull()][["year_tourney_id", "minutes"]]

     year_tourney_id  minutes
3031        1998 604      NaN
3032        1998 604      NaN
3033        1998 604      NaN
3034        1998 604      NaN
3035        1998 604      NaN
3036        1998 604      NaN
3037        1998 604      NaN
3038        1998 604      NaN
3039        1998 604      NaN
3040        1998 604      NaN
3041        1998 604      NaN
6499        1999 604      NaN
6500        1999 604      NaN
6501        1999 604      NaN
6502        1999 604      NaN
6503        1999 604      NaN
6504        1999 604      NaN
6505        1999 604      NaN
6506        1999 604      NaN
6507        1999 604      NaN
6508        1999 604      NaN
6509        1999 604      NaN

Looks like there is still a subset of tournaments where we do not have any results. This is ok - minutes will be used as part of feature engineering. We will just have to skip over these records when we create features later.

Looks like '98 and '99 Grand Slam Cup did not record match minutes. This is a year end tournament: 
https://www.grandslamhistory.com/atp/grand-slam-cup-munich

In [10]:
matches[matches.year_tourney_id.isin(matches[matches.minutes.isnull()].year_tourney_id.tolist())]["tourney_name"].unique()

array(['grand slam cup'], dtype=object)

## Impute Height

We are missing some values for player height. This, we can impute by using the average height

In [11]:
# impute height with mean of players
matches.loc[matches.loser_ht.isnull(), 'loser_ht'] = matches.loser_ht.mean()
matches.loc[matches.winner_ht.isnull(), 'winner_ht'] = matches.winner_ht.mean()

In [12]:
matches.sample(5).T

,12277,44771,21317,46369,45076
year_tourney_id,2001 314,2011 1720,2004 416,2012 425,2011 328
tourney_name,gstaad,bangkok,rome masters,barcelona,basel
surface,clay,hard,clay,clay,hard
tourney_level,a,a,m,a,a
tourney_date,2001-07-09 00:00:00,2011-09-26 00:00:00,2004-05-03 00:00:00,2012-04-23 00:00:00,2011-10-31 00:00:00
match_num,2,3,39,27,21
winner_id,103356,105777,103835,104523,104053
winner_name,michel kratochvil,grigor dimitrov,filippo volandri,frederico gil,andy roddick
winner_hand,r,r,r,r,r
winner_ht,185,188,183,178,188
winner_ioc,sui,bul,ita,por,usa
winner_age,22.26,20.36,22.66,27.08,29.17
loser_id,102629,104471,102854,105311,103285
loser_name,oscar burrieza,ivan dodig,sjeng schalken,joao sousa,radek stepanek
loser_hand,r,r,r,r,r
loser_ht,170,183,193,185,185
loser_ioc,esp,cro,ned,por,cze
loser_age,25.97,26.73,27.65,23.07,32.93
score,6-4 6-7(3) 6-1,6-2 7-5,6-2 6-3,4-6 6-4 6-3,2-6 6-3 6-3
best_of,3,3,3,3,3
round,r32,r32,r32,r32,r16
minutes,142,92,75,133,104
w_ace,6,4,1,2,10
w_df,11,2,1,2,3
w_svpt,116,59,52,102,69
w_1stin,64,41,39,62,46
w_1stwon,46,32,23,39,33
w_2ndwon,24,11,5,24,14
w_svgms,15,10,9,15,13
w_bpsaved,10,3,7,7,5
w_bpfaced,12,4,10,10,8
l_ace,6,3,0,2,8
l_df,6,1,2,0,8
l_svpt,94,61,60,85,74
l_1stin,56,36,43,45,37
l_1stwon,38,22,21,29,30
l_2ndwon,15,12,6,19,14
l_svgms,14,10,8,14,13
l_bpsaved,5,5,2,2,1
l_bpfaced,10,9,8,6,5
winner_rank,73,76,54,117,15
loser_rank,365,37,16,140,25
tourney_year,2001,2011,2004,2012,2011
tourney_id,314,1720,416,425,328

In [13]:
# Lastly, let's drop any rows where we don't have scores for the matches
matches = matches.dropna(axis=0, subset=["score", "minutes"])

### Let's see what else we are missing data for

In [14]:
def print_columns_with_missing_data(m: pd.DataFrame):
    print(m.columns[m.isnull().any()].tolist())
    
    
print_columns_with_missing_data(matches)

['w_ace', 'w_df', 'w_svpt', 'w_1stin', 'w_1stwon', 'w_2ndwon', 'w_svgms', 'w_bpsaved', 'w_bpfaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stin', 'l_1stwon', 'l_2ndwon', 'l_svgms', 'l_bpsaved', 'l_bpfaced', 'winner_rank', 'loser_rank']

## Missing Rank

At first I thought missing rank might mean that the player

When you look closer, I don't recognize all players, but Tim Henman was an English player that was at the top of his game in 1998 and was in the top 10 according to his wikipedia page: https://en.wikipedia.org/wiki/Tim_Henman

So I think we should somehow impute this

In [15]:
matches[(matches.winner_rank.isnull())][["tourney_date", "year_tourney_id", "round", "tourney_name", "winner_name"]].head(10)

     tourney_date year_tourney_id round  tourney_name       winner_name
1872   1998-06-22        1998 540  r128     wimbledon  mikael tillstrom
2251   1998-07-20        1998 418   r64    washington       jimmy arias
2351   1998-07-27        1998 423   r32   los angeles        tim henman
2359   1998-07-27        1998 423   r16   los angeles        tim henman
2363   1998-07-27        1998 423    qf   los angeles        tim henman
2365   1998-07-27        1998 423    sf   los angeles        tim henman
2580   1998-08-17        1998 419   r64  indianapolis       wayne black
2600   1998-08-17        1998 419   r32  indianapolis       wayne black
2692   1998-08-24         1998 80   r32        boston        jiri novak
3078   1998-09-28        1998 327   r32      toulouse    lionel barthez

I think a reasonable way to to impute the data for that tournament. We will take the mean of the player rank in that round and impute into our missing ranks

In [16]:
def impute_missing_rank(matches: pd.DataFrame, missing_list: pd.DataFrame, name_col: str) -> pd.DataFrame:
    for index, row in missing_list.iterrows():
        current_round_matches = matches[(matches.year_tourney_id == row.year_tourney_id) & 
                                        (matches["round"] == row["round"]) & (matches[name_col].notnull())]
        if len(current_round_matches) == 0:
            print(f'Unable to find other matches in this round index: {index} year_tourney_id: {str(row["year_tourney_id"])} round: {row["round"]} column: {name_col}')
        else:
#             print(f'len: {len(current_round_matches)} current mean: {int(current_round_matches[name_col].mean())}')
            matches.loc[index, name_col] = int(current_round_matches[name_col].mean())

In [17]:
losers_missing_rank = matches[matches.loser_rank.isnull()][["year_tourney_id", "round", "loser_name"]]
print(f'Missing loser rank before imputing: {len(losers_missing_rank)}')
print(losers_missing_rank.head(5))
impute_missing_rank(matches, losers_missing_rank, "loser_rank")    

losers_missing_rank = matches[matches.loser_rank.isnull()][["year_tourney_id", "round", "loser_name"]]

print(f'Missing loser rank after imputing: {len(losers_missing_rank)}')

Missing loser rank before imputing: 156
     year_tourney_id round        loser_name
1014        1998 336   r32    wing luen wong
1017        1998 336   r32      peter nyborg
1935        1998 540   r64  mikael tillstrom
2195        1998 321   r64  nicolas lapentti
2269        1998 418   r32       jimmy arias
Unable to find other matches in this round index: 2366 year_tourney_id: 1998 423 round: f column: loser_rank
Unable to find other matches in this round index: 3905 year_tourney_id: 1999 495 round: f column: loser_rank
Missing loser rank after imputing: 2

In [18]:
winner_missing_ranks = matches[matches.winner_rank.isnull()][["year_tourney_id", "round", "winner_name"]]
print(f'Missing winner rank before imputing: {len(winner_missing_ranks)}')

impute_missing_rank(matches, winner_missing_ranks, "winner_rank")    

winner_missing_ranks = matches[matches.winner_rank.isnull()][["year_tourney_id", "round", "winner_name"]]
print(f'Missing winner rank after imputing: {len(winner_missing_ranks)}')

Missing winner rank before imputing: 47
Missing winner rank after imputing: 0

### We were not able to imput everything but only have 2 left is no big deal - we will just drop this columns

In [19]:
print_columns_with_missing_data(matches)

['w_ace', 'w_df', 'w_svpt', 'w_1stin', 'w_1stwon', 'w_2ndwon', 'w_svgms', 'w_bpsaved', 'w_bpfaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stin', 'l_1stwon', 'l_2ndwon', 'l_svgms', 'l_bpsaved', 'l_bpfaced', 'loser_rank']

# Done

OK. Looks like we have cleaned up and inputed as much data as we can as of this point

For this round, we will not be using any of the match statistics so we will not drop rows with empty data for these columns.

However, we will drop the two rows for loser_rank and then save to file so we can move on to feature engineering

In [20]:
matches = matches.dropna(axis=0, subset=["loser_rank"])
matches.to_csv(f'{DATASET_DIR}/atp_matches_preprocessed.csv', index=False)