# ATP Tennis Data - Feature Engineering

In previous notebook, we pre-processed the ATP match data by:
* dropping columns with little data
* cleaning string columns
* imputing any data that we can reasonably impute

For this notebook, we will use the data saved from pre-processing and start doing some basic feature engineering so we can feed  our data to our models to see how we do. My goal is to start training models and see how they do as soon as possible, so we will stick with the following basic feature engineering techniques:
* one hot encode any categorical data - ie, tournament surface, round, winner_ioc, loser_ioc
* extra month from the tournament date
* label each row with 0 as Player 1 losing to Player 2 and 1 as Player 1 beats Player 2
* remove any remaining columns that we

Output of basic feature engineering:
* tournament
    * tournament id - extract from current tourney_id field
    * tournament level - one hot encode
    * month of tournament - extract from tourney_date
    * year of tournament - extract from tourney_date
    * surface - one hot encode
    * draw size
    * best of
* player 1 and player 2
    * rank
    * height
    * ioc - one hot encode
    * age
    * rank
    * seed
    * hand
* match
    * round - 
* label
    * whether player 1 beat player 2 - 0 - False, 1 - True
    

## Future:
In a future notebook, I plan on implementing more advanced feature engineering with:
* look up matchup history for players
    * match-up stats for pervious matchups
* add match player record leading up to the match for each player (ie, last X matches)
* look up player stats leading up to match for each player (ie, last X matches)
* contruct 2 entries of data per row since match-up and player record leading up to a match will differe depending on which player is player 1 or 2


## Missing Data:

There are some features that are  missing from our dataset. In the future, we could look into somehow scrapping or manually getting these. I looked at the ATP website to see how to get this data, but it is not readily apparent since each player/tournament has some type of unique identifier on their website that I haven't figure out how to get. Here are some potential features to get i the future:


* tournament
    * tournament location - ie, city, country
    * prize money
* player
    * weight
    * backhand - one/two handed
    * number of years as a pro

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set()

In [38]:
# Contants

DATASET_DIR = '../datasets'
MODEL_DIR = '../models'
# this is the file we generated from our pre-processing notebook
PREPROCESSED_FILE = f'{DATASET_DIR}/atp_matches_preprocessed.csv'
OUTFILE = f'{DATASET_DIR}/atp_matches_features.csv'

pre = pd.read_csv(PREPROCESSED_FILE, parse_dates=["tourney_date"])
pre = pre.astype({'draw_size': np.int32})

## Let's look at the data to make sure all the types are correct before we being

In [21]:
pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57868 entries, 0 to 57867
Data columns (total 45 columns):
tourney_id       57868 non-null object
tourney_name     57868 non-null object
surface          57868 non-null object
draw_size        57868 non-null int32
tourney_level    57868 non-null object
tourney_date     57868 non-null datetime64[ns]
match_num        57868 non-null int64
winner_id        57868 non-null int64
winner_seed      57868 non-null float64
winner_name      57868 non-null object
winner_hand      57868 non-null object
winner_ht        57868 non-null float64
winner_ioc       57868 non-null object
winner_age       57868 non-null float64
loser_id         57868 non-null int64
loser_seed       57868 non-null float64
loser_name       57868 non-null object
loser_hand       57868 non-null object
loser_ht         57868 non-null float64
loser_ioc        57868 non-null object
loser_age        57868 non-null float64
score            57867 non-null object
best_of          57868 non-null int64
round            57868 non-null object
minutes          57868 non-null float64
w_ace            57427 non-null float64
w_df             57427 non-null float64
w_svpt           57427 non-null float64
w_1stin          57427 non-null float64
w_1stwon         57427 non-null float64
w_2ndwon         57427 non-null float64
w_svgms          57427 non-null float64
w_bpsaved        57427 non-null float64
w_bpfaced        57427 non-null float64
l_ace            57427 non-null float64
l_df             57427 non-null float64
l_svpt           57427 non-null float64
l_1stin          57427 non-null float64
l_1stwon         57427 non-null float64
l_2ndwon         57427 non-null float64
l_svgms          57427 non-null float64
l_bpsaved        57427 non-null float64
l_bpfaced        57427 non-null float64
winner_rank      57868 non-null float64
loser_rank       57868 non-null float64
dtypes: datetime64[ns](1), float64(27), int32(1), int64(4), object(12)
memory usage: 19.6+ MB

In [22]:
pre.sample(10).T

,17060,27832,2507,56756,51698,23210,24628,55058,42010,20753
tourney_id,2003-423,2007-416,1998-560,2018-0316,2016-7480,2005-560,2006-403,2017-0352,2012-540,2004-429
tourney_name,los angeles,rome masters,us open,bastad,los cabos,us open,miami masters,paris masters,wimbledon,stockholm
surface,hard,clay,hard,clay,hard,hard,hard,hard,grass,hard
draw_size,32,64,128,32,32,128,128,64,128,32
tourney_level,a,m,g,a,a,g,m,m,g,a
tourney_date,2003-07-28 00:00:00,2007-05-07 00:00:00,1998-08-31 00:00:00,2018-07-16 00:00:00,2016-08-08 00:00:00,2005-08-29 00:00:00,2006-03-20 00:00:00,2017-10-30 00:00:00,2012-06-25 00:00:00,2004-10-25 00:00:00
match_num,17,11,21,298,277,78,92,298,27,19
winner_id,103720,103454,103084,104926,104719,104925,103344,106058,104214,103163
winner_seed,1,46,85,3,8,93,6,16,92,4
winner_name,lleyton hewitt,nicolas massu,guillermo canas,fabio fognini,marcel granollers,novak djokovic,ivan ljubicic,jack sock,igor andreev,tommy haas
winner_hand,r,r,r,r,r,r,r,r,r,r
winner_ht,180,183,185,178,190,188,193,185,185,188
winner_ioc,aus,chi,arg,ita,esp,srb,cro,usa,rus,ger
winner_age,22.42,27.57,20.76,31.15,30.32,18.27,27,25.1,28.95,26.56
loser_id,102169,104620,102869,104269,104269,104339,102860,103898,106244,102202
loser_seed,26,51,81,5,7,22,61,45,128,17
loser_name,michael joyce,simone bolelli,galo blanco,fernando verdasco,fernando verdasco,mario ancic,agustin calleri,julien benneteau,oliver golding,kenneth carlsen
loser_hand,r,r,r,l,l,r,r,r,r,l
loser_ht,180,183,173,188,188,196,183,185,185.172,190
loser_ioc,usa,ita,esp,esp,esp,cro,arg,fra,gbr,den
loser_age,30.48,21.58,21.89,34.67,32.73,21.42,29.51,35.86,18.74,31.52
score,6-3 6-0,6-3 7-6,6-3 6-0 6-2,6-1 4-6 7-5,7-6 6-2,6-3 5-7 7-6 6-3,7-6 6-3,7-5 6-2,1-6 7-6 7-6 7-5,7-5 7-5
best_of,3,3,5,3,3,5,3,3,5,3
round,r16,r64,r128,sf,r32,r64,qf,sf,r128,r16
minutes,71,107,9,137,99,207,100,78,184,84
w_ace,14,2,7,6,1,6,14,6,10,9
w_df,2,1,3,7,2,4,3,1,3,1
w_svpt,46,61,82,102,69,138,57,52,129,63
w_1stin,31,36,42,67,37,85,37,34,85,37
w_1stwon,26,26,37,44,31,64,36,26,63,31
w_2ndwon,6,18,21,12,16,26,10,12,26,15
w_svgms,7,10,11,14,10,22,10,10,21,12
w_bpsaved,4,0,5,7,3,3,0,3,1,0
w_bpfaced,5,1,5,12,4,7,0,5,4,1
l_ace,1,1,5,5,5,8,2,3,17,6
l_df,5,0,5,5,8,3,4,5,10,1
l_svpt,71,64,93,102,82,133,83,59,154,69
l_1stin,36,42,50,77,42,88,47,34,109,48
l_1stwon,15,30,30,44,29,64,35,24,83,35
l_2ndwon,15,11,14,6,17,20,18,8,19,9
l_svgms,8,11,12,15,10,20,11,10,22,12
l_bpsaved,8,1,7,8,12,8,6,4,5,1
l_bpfaced,14,4,14,16,15,13,8,9,7,4
winner_rank,5,59,91,15,47,97,6,22,93,22
loser_rank,302,76,85,33,46,24,65,83,491,79

# Tournament Info

* tournament id - extract from current tourney_id field
* tournament level - one hot encode
* month of tournament - extract from tourney_date
* year of tournament - extract from tourney_date
* surface - one hot encode
* draw size
* best of

### Extract tournment ID aand Encode

Since players may have an affinity for certainly tournaments because of location or conditions, we should include this into our features

First let's rename the columns since it's rather confusing - currently, tourney_id is a composite of {year}-{id}. ID is alphanumeric so we need to encode these

In [26]:
matches = pre
matches = matches.rename({"tourney_id": "tourney_year_plus_id"}, axis=1)
matches["tourney_id"] = matches.tourney_year_plus_id.apply(lambda x: x.split("-")[1])
matches.sample(5, random_state=1).tourney_id

19830     419
49384    7290
32731     407
34227     418
53983     540
Name: tourney_id, dtype: object

In [60]:
from sklearn.preprocessing import LabelEncoder

tidle = LabelEncoder()
tid_labels = tidle.fit_transform(matches['tourney_id'])
tid_map = {label: num for num, label in enumerate(tidle.classes_)}
print(tid_map)

matches["tourney_id_num"] = matches["tourney_id"].map(tid_map)

# save off map to be used later
with open(f'{MODEL_DIR}/tid_map.json', 'w') as file:
    json.dump(surface_map, file)
    
matches.sample(10)[["tourney_id", "tourney_id_num"]]

{'0301': 0, '0308': 1, '0311': 2, '0314': 3, '0315': 4, '0316': 5, '0319': 6, '0321': 7, '0322': 8, '0328': 9, '0329': 10, '0337': 11, '0341': 12, '0352': 13, '0360': 14, '0375': 15, '0402': 16, '0407': 17, '0410': 18, '0414': 19, '0421': 20, '0424': 21, '0425': 22, '0429': 23, '0439': 24, '0451': 25, '0495': 26, '0496': 27, '0499': 28, '0500': 29, '0506': 30, '0533': 31, '0568': 32, '0605': 33, '0717': 34, '0741': 35, '0773': 36, '0891': 37, '1536': 38, '1720': 39, '2276': 40, '301': 41, '306': 42, '308': 43, '311': 44, '312': 45, '314': 46, '315': 47, '316': 48, '317': 49, '319': 50, '321': 51, '322': 52, '325': 53, '326': 54, '327': 55, '328': 56, '329': 57, '3348': 58, '336': 59, '337': 60, '338': 61, '339': 62, '341': 63, '3465': 64, '348': 65, '352': 66, '357': 67, '359': 68, '360': 69, '375': 70, '379': 71, '401': 72, '402': 73, '403': 74, '404': 75, '407': 76, '408': 77, '409': 78, '410': 79, '414': 80, '416': 81, '418': 82, '419': 83, '420': 84, '421': 85, '422': 86, '423': 87, '424': 88, '425': 89, '429': 90, '430': 91, '433': 92, '438': 93, '439': 94, '440': 95, '441': 96, '451': 97, '468': 98, '473': 99, '475': 100, '481': 101, '495': 102, '496': 103, '499': 104, '500': 105, '5012': 106, '5014': 107, '505': 108, '5053': 109, '506': 110, '520': 111, '533': 112, '540': 113, '560': 114, '568': 115, '573': 116, '580': 117, '6003': 118, '605': 119, '6116': 120, '6120': 121, '615': 122, '620': 123, '6242': 124, '6710': 125, '6718': 126, '6932': 127, '6967': 128, '7161': 129, '7163': 130, '717': 131, '7290': 132, '73': 133, '741': 134, '7434': 135, '747': 136, '7480': 137, '7485': 138, '7581': 139, '7648': 140, '7650': 141, '7694': 142, '7696': 143, '773': 144, '80': 145, '807': 146, '890': 147, '891': 148, '96': 149, 'm001': 150, 'm004': 151, 'm006': 152, 'm007': 153, 'm009': 154, 'm010': 155, 'm014': 156, 'm015': 157, 'm016': 158, 'm020': 159, 'm021': 160, 'm024': 161, 'm035': 162, 'm052': 163, 'o16': 164}

      tourney_id  tourney_id_num
34392       3348              58
42731        560             114
9298         451              97
47907        560             114
55505       0407              17
25363        540             113
9900         433              92
27486        403              74
43742        499             104
863          468              98

### Tournament Level

Tournament level does have some type of implicit ordinality to them since tournaments are worth different points according to their levels with 'g' (grand slams) worth the most number of points

We will do a custom encoding for these

Here are the point values for winner the levels:
* g - grand slam - 2000
* f - tour final - 1500
* m - masters - 1000
* a - other tour event - anywhere between 250 to 500 depending on the series

In [27]:
np.unique(matches.tourney_level)

array(['a', 'f', 'g', 'm'], dtype=object)

In [41]:
import json

level_map = {'g': 1, 'f': 2, 'm': 3, 'a': 4}
matches["tourney_level_num"] = matches['tourney_level'].map(level_map)
# let's check our work
matches.sample(10)[["tourney_level", "tourney_level_num"]]

# let's save off the map for later use
with open(f'{MODEL_DIR}/tourney_level_map.json', 'w') as file:
    json.dump(level_map, file)

### Tournamant year and Month

We can extract this from the tourney_date

In [33]:
matches["tourney_year"] = matches.tourney_date.dt.year
matches["tourney_month"] = matches.tourney_date.dt.month
matches.sample(10)[["tourney_year", "tourney_month", "tourney_date"]]

       tourney_year  tourney_month tourney_date
56873          2018              7   2018-07-23
27461          2007              3   2007-03-05
5014           1999              7   1999-07-05
34908          2009             10   2009-10-26
15075          2002             11   2002-11-11
45296          2013              8   2013-08-26
27858          2007              5   2007-05-07
2887           1998             10   1998-10-12
52205          2016             10   2016-10-10
53493          2017              5   2017-05-01

### Tournament Surface

There is no ordinality here so we can just use a label encoder

In [45]:
from sklearn.preprocessing import LabelEncoder
import pickle

gle = LabelEncoder()
surface_labels = gle.fit_transform(matches['surface'])
surface_map = {label: num for num, label in enumerate(gle.classes_)}
print(surface_map)

matches["surface_num"] = matches["surface"].map(surface_map)

# save off map to be used later
with open(f'{MODEL_DIR}/surface_map.json', 'w') as file:
    json.dump(surface_map, file)
    
matches.sample(10)[["surface", "surface_num"]]

{'carpet': 0, 'clay': 1, 'grass': 2, 'hard': 3}

      surface  surface_num
42075   grass            2
8951   carpet            0
39523    clay            1
35230    hard            3
48299    hard            3
14310    hard            3
45552    hard            3
41340    clay            1
17171    hard            3
42786    hard            3

# Generate Player Features

Most are already numbers that we can feed into the model - we will just keep these for now

### Player Name

We will treat player name as a non-oridnal category to encode. Certain players may match up better against a specific type of player so including this seems important

In [72]:
from sklearn.preprocessing import LabelEncoder
import pickle

playerle = LabelEncoder()
player_labels = playerle.fit_transform(matches['loser_name'].append(matches['winner_name']))
player_map = {label: num for num, label in enumerate(playerle.classes_)}

# we are actually going to do one more thing here, instead of starting at 0 index. We are going to reserve this index for unknown player for later
# we will swap out player with 0 index with the key-max + 1
key_max = max(player_map.values())
player_map[list(player_map.keys())[0]] = key_max + 1

# we won't print out the map here 
# print(player_map)

matches["loser_id"] = matches["loser_name"].map(player_map)
matches["winner_id"] = matches["winner_name"].map(player_map)

# save off map to be used later
with open(f'{MODEL_DIR}/player_map.json', 'w') as file:
    json.dump(player_map, file)
    
matches.sample(10)[["loser_name", "loser_id", "winner_name", "winner_id"]]

            loser_name  loser_id                  winner_name  winner_id
16210   wayne ferreira      1409            rainer schuettler       1150
36056   ernests gulbis       377            fernando verdasco        409
51373      lukas lacko       815                  marin cilic        868
8376      hicham arazi       528                  carlos moya        206
31880  diego junqueira       322                 jose acasuso        685
28302   potito starace      1131               novak djokovic       1042
46539   lleyton hewitt       794                 rafael nadal       1148
32714   simone bolelli      1267                 rafael nadal       1148
54802    bernard tomic       162  diego sebastian schwartzman        325
13382  christian vinck       230            fernando gonzalez        406

### Player origin (ioc)

Again there is no ordinality to this so we will use the LabelEncoder

In [49]:
iocle = LabelEncoder()
# we have to append loser and winner list to get comprehensive list
ioc_labels = iocle.fit_transform(matches["loser_ioc"].append(matches["winner_ioc"]))
ioc_map = {label: num for num, label in enumerate(iocle.classes_)}
print(ioc_map)

matches["loser_ioc_num"] = matches["loser_ioc"].map(ioc_map)
matches["winner_ioc_num"] = matches["winner_ioc"].map(ioc_map)

# save off map to be used later
with open(f'{MODEL_DIR}/ioc_map.json', 'w') as file:
    json.dump(ioc_map, file)
    
matches.sample(10)[["loser_ioc", "loser_ioc_num", "winner_ioc", "winner_ioc_num"]]

{'alg': 0, 'arg': 1, 'arm': 2, 'aus': 3, 'aut': 4, 'aze': 5, 'bah': 6, 'bar': 7, 'bel': 8, 'bih': 9, 'blr': 10, 'bra': 11, 'bul': 12, 'can': 13, 'chi': 14, 'chn': 15, 'col': 16, 'crc': 17, 'cro': 18, 'cyp': 19, 'cze': 20, 'den': 21, 'dom': 22, 'ecu': 23, 'egy': 24, 'esa': 25, 'esp': 26, 'est': 27, 'fin': 28, 'fra': 29, 'gbr': 30, 'geo': 31, 'ger': 32, 'gre': 33, 'hkg': 34, 'hun': 35, 'ind': 36, 'irl': 37, 'isr': 38, 'ita': 39, 'jpn': 40, 'kaz': 41, 'kor': 42, 'kuw': 43, 'lat': 44, 'ltu': 45, 'lux': 46, 'mar': 47, 'mas': 48, 'mda': 49, 'mex': 50, 'mkd': 51, 'mon': 52, 'ned': 53, 'nor': 54, 'nzl': 55, 'pak': 56, 'par': 57, 'per': 58, 'phi': 59, 'pol': 60, 'por': 61, 'qat': 62, 'rou': 63, 'rsa': 64, 'rus': 65, 'slo': 66, 'srb': 67, 'sui': 68, 'svk': 69, 'swe': 70, 'tha': 71, 'tog': 72, 'tpe': 73, 'tun': 74, 'tur': 75, 'uae': 76, 'ukr': 77, 'uru': 78, 'usa': 79, 'uzb': 80, 'ven': 81, 'vie': 82, 'zim': 83}

      loser_ioc  loser_ioc_num winner_ioc  winner_ioc_num
12069       srb             67        usa              79
54509       usa             79        cro              18
15630       mon             52        sui              68
53762       ukr             77        bel               8
1229        par             57        ita              39
11342       ecu             23        usa              79
31274       ita             39        ger              32
44216       fra             29        fra              29
15714       arg              1        arg               1
48936       aut              4        ukr              77

### Player Hand - (l/r/u)

This is simple categorial data - will use LabelEncoder

In [56]:
handcle = LabelEncoder()
# we have to append loser and winner list to get comprehensive list
hand_labels = handcle.fit_transform(matches["loser_hand"].append(matches["winner_hand"]))
hand_map = {label: num for num, label in enumerate(handcle.classes_)}
print(hand_map)

matches["loser_hand_num"] = matches["loser_hand"].map(hand_map)
matches["winner_hand_num"] = matches["winner_hand"].map(hand_map)

# save off map to be used later
with open(f'{MODEL_DIR}/hand_map.json', 'w') as file:
    json.dump(hand_map, file)
    
matches.sample(10)[["loser_hand", "loser_hand_num", "winner_hand", "winner_hand_num"]]

{'l': 0, 'r': 1, 'u': 2}

      loser_hand  loser_hand_num winner_hand  winner_hand_num
16289          r               1           r                1
49998          r               1           r                1
17348          r               1           r                1
19715          r               1           l                0
47485          l               0           r                1
45278          r               1           r                1
41236          r               1           r                1
46589          r               1           r                1
19698          r               1           r                1
7148           r               1           r                1

## Match Features

Only feature we will use for now is round. There is an ordinality to the rounds so we will use a custome encoding

Couple issues with this:

'rr' - means round robin. This usually means that all players in a tournament is divided into multiple flights (ie, 2). All players in the flight play against each other. The year end final for instance has 8 players. Top 2 players from each flight make it to semi finals. Winner of that match goes to finals. So rr could mean any of the 3 matches a player would play in the flight. We will just pick the next unique number to encode this.

https://en.wikipedia.org/wiki/ATP_Finals

'br' - Not sure what this indicates. Will encode this as the last value

In [51]:
np.unique(matches["round"])

array(['br', 'f', 'qf', 'r128', 'r16', 'r32', 'r64', 'rr', 'sf'],
      dtype=object)

In [52]:
round_map = {'f': 1, 
            'sf': 2,
            'qf': 3,
            'r16': 4,
            'r32': 5,
            'r64': 6,
            'r128': 7,
            'rr': 8,
            'br': 9}
matches["round_num"] = matches["round"].map(round_map)

# save off map to be used later
with open(f'{MODEL_DIR}/round_map.json', 'w') as file:
    json.dump(round_map, file)
    
matches.sample(10)[["round", "round_num"]]

      round  round_num
212     r64          6
7384    r64          6
53372   r32          5
40725   r16          4
50487  r128          7
32679    qf          3
32758   r32          5
3565    r32          5
57603   r32          5
38135   r32          5

# Let's check out our data one more time

In [57]:
matches.sample(10).T

,57414,52804,29740,24112,3324,48232,32014,45319,1603,31956
tourney_year_plus_id,2018-m015,2017-0506,2008-580,2006-505,1999-301,2014-429,2008-329,2013-560,1998-311,2008-747
tourney_name,beijing,buenos aires,australian open,vina del mar,auckland,stockholm,tokyo,us open,queen s club,beijing
surface,hard,clay,hard,clay,hard,hard,hard,hard,grass,hard
draw_size,32,32,128,32,32,32,64,128,64,32
tourney_level,a,a,g,a,a,a,a,g,a,a
tourney_date,2018-10-01 00:00:00,2017-02-13 00:00:00,2008-01-14 00:00:00,2006-01-30 00:00:00,1999-01-11 00:00:00,2014-10-13 00:00:00,2008-09-29 00:00:00,2013-08-26 00:00:00,1998-06-08 00:00:00,2008-09-22 00:00:00
match_num,293,288,50,12,13,13,27,83,9,27
winner_id,105223,105807,103582,104593,103103,104607,104025,103852,101601,104053
winner_seed,1,4,50,29,8,1,34,23,13,2
winner_name,juan martin del potro,pablo carreno busta,michael berrer,daniel gimeno traver,dominik hrbaty,tomas berdych,amer delic,feliciano lopez,brett steven,andy roddick
winner_hand,r,r,l,r,r,r,r,l,r,r
winner_ht,198,188,193,185,183,196,196,188,185,188
winner_ioc,arg,esp,ger,esp,svk,cze,bih,esp,nzl,usa
winner_age,30.02,25.59,27.54,20.48,21.02,29.07,26.25,31.93,29.11,26.06
loser_id,111575,105561,105385,102860,102644,104460,105023,105614,102318,104534
loser_seed,9,25,91,4,16,21,13,108,18,15
loser_name,karen khachanov,alessandro giannessi,donald young,agustin calleri,franco squillari,dustin brown,sam querrey,bradley klahn,andrei pavel,dudi sela
loser_hand,r,l,l,r,l,r,r,l,r,r
loser_ht,185.172,183,183,183,183,196,198,190,183,175
loser_ioc,rus,ita,usa,arg,arg,ger,usa,usa,rou,isr
loser_age,22.36,26.71,18.48,29.38,23.39,29.85,20.98,23.02,24.36,23.47
score,6-4 7-6,6-1 4-6 6-4,6-7 7-6 6-3 7-6,1-6 6-3 6-3,6-2 6-4,7-5 6-3,7-6 6-3,6-4 7-6 4-6 7-5,6-3 4-6 6-2,6-4 6-7 6-3
best_of,3,3,5,3,3,3,3,5,3,3
round,r16,r16,r128,r32,r32,r16,r32,r64,r64,f
minutes,99,114,199,101,57,84,68,177,96,121
w_ace,11,4,7,3,5,7,10,23,5,17
w_df,1,2,10,0,3,2,3,10,5,2
w_svpt,70,80,146,96,51,60,70,150,92,109
w_1stin,51,54,99,60,27,32,49,80,62,73
w_1stwon,39,42,77,41,20,30,39,60,46,56
w_2ndwon,9,13,22,13,16,17,12,37,13,20
w_svgms,11,13,22,13,9,11,11,22,14,16
w_bpsaved,2,3,3,5,0,3,3,6,5,9
w_bpfaced,3,5,6,9,1,3,3,9,7,10
l_ace,7,5,5,9,5,5,5,16,4,2
l_df,0,6,8,3,5,4,5,3,6,1
l_svpt,65,92,178,75,59,69,63,131,90,91
l_1stin,49,67,109,45,32,45,40,94,58,58
l_1stwon,34,45,70,31,20,35,33,70,41,43
l_2ndwon,8,6,35,12,11,9,9,17,10,20
l_svgms,11,14,23,12,9,10,10,22,13,15
l_bpsaved,2,7,10,5,3,6,4,5,3,7
l_bpfaced,4,12,15,9,7,8,5,9,7,10
winner_rank,4,25,54,187,44,7,135,26,43,8
loser_rank,24,127,98,56,60,92,39,124,67,92
tourney_id,m015,0506,580,505,301,429,329,560,311,747
tourney_level_num,4,4,1,4,4,4,4,1,4,4
tourney_year,2018,2017,2008,2006,1999,2014,2008,2013,1998,2008
tourney_month,10,2,1,1,1,10,9,8,6,9
surface_num,3,1,3,1,3,3,3,3,2,3
loser_ioc_num,65,39,79,1,1,32,79,79,63,38
winner_ioc_num,1,26,32,26,69,20,9,26,55,79
round_num,4,4,7,5,5,4,5,6,6,1
loser_hand_num,1,0,0,1,0,1,1,0,1,1
winner_hand_num,1,1,0,1,1,1,1,0,1,1

In [58]:
# Let's pick out the columns we will use

In [7]:
pre[pre["round"] == 'r128'].sample(10).T

,50072,36740,50093,703,39130,19613,21144,29042,10961,25511
year_tourney_id,2015 540,2010 540,2015 540,1998 403,2011 520,2004 540,2005 580,2007 560,2001 540,2006 540
tourney_name,wimbledon,wimbledon,wimbledon,miami masters,roland garros,wimbledon,australian open,us open,wimbledon,wimbledon
surface,grass,grass,grass,hard,clay,grass,hard,hard,grass,grass
tourney_level,g,g,g,m,g,g,g,g,g,g
tourney_date,2015-06-29,2010-06-21,2015-06-29,1998-03-16,2011-05-22,2004-06-21,2005-01-17,2007-08-27,2001-06-25,2006-06-26
match_num,31,37,52,10,1,52,5,5,63,34
winner_id,103163,104312,104665,102765,104745,102434,103344,103852,102965,102703
winner_name,tommy haas,andreas seppi,pablo andujar,nicolas escude,rafael nadal,vincent spadea,ivan ljubicic,feliciano lopez,jamie delgado,hyung taik lee
winner_hand,r,r,r,r,l,r,r,l,r,r
winner_ht,188,190,180,185,185,183,193,188,178,180
winner_ioc,ger,ita,esp,fra,esp,usa,cro,esp,gbr,kor
winner_age,37.24,26.33,29.43,21.95,24.97,29.92,25.83,25.93,24.26,30.48
loser_id,105583,104597,104198,103720,104545,104379,103632,103507,102446,103581
loser_name,dusan lajovic,nicolas almagro,guillermo garcia lopez,lleyton hewitt,john isner,todd reid,luis horna,juan carlos ferrero,andrei medvedev,flavio saretta
loser_hand,r,r,r,r,r,r,r,r,r,r
loser_ht,180,183,188,180,206,180,180,183,193,183
loser_ioc,srb,esp,esp,aus,usa,aus,per,esp,ukr,bra
loser_age,25,24.83,32.07,17.05,26.07,20.05,24.34,27.54,26.82,25.99
score,6-2 6-3 4-6 6-2,7-6 7-6 6-2,3-6 6-4 3-6 7-5 6-4,6-4 3-6 6-4,6-4 6-7 6-7 6-2 6-4,6-2 6-4 6-2,6-4 6-3 6-3,6-3 6-4 6-4,6-2 6-4 7-5,7-6 6-3 7-5
best_of,5,5,5,3,5,5,5,5,5,5
round,r128,r128,r128,r128,r128,r128,r128,r128,r128,r128
minutes,139.271,123,139.271,128,241,96,96,103,100,130
w_ace,5,11,7,10,8,8,14,18,3,5
w_df,3,2,5,4,1,6,2,7,5,1
w_svpt,103,94,143,104,134,90,70,82,101,109
w_1stin,75,63,84,55,97,48,45,46,57,76
w_1stwon,61,53,63,37,79,37,38,39,48,55
w_2ndwon,11,16,35,23,26,23,20,20,23,21
w_svgms,18,16,25,15,26,13,14,15,15,16
w_bpsaved,6,1,2,13,0,4,1,2,6,7
w_bpfaced,8,3,5,18,1,5,1,3,6,9
l_ace,6,15,17,0,13,2,6,8,3,12
l_df,1,7,7,1,3,1,4,6,3,10
l_svpt,98,122,145,96,165,97,83,88,85,130
l_1stin,66,73,85,47,112,71,64,48,49,76
l_1stwon,36,52,67,24,76,39,40,30,40,50
l_2ndwon,20,22,30,30,31,11,8,21,15,28
l_svgms,17,16,25,14,26,13,14,14,15,17
l_bpsaved,8,8,5,9,10,7,3,5,3,11
l_bpfaced,14,12,8,14,15,13,7,9,7,16
winner_rank,861,69,37,40,1,30,22,60,182,102
loser_rank,86,18,32,172,39,134,39,21,119,112
tourney_year,2015,2010,2015,1998,2011,2004,2005,2007,2001,2006
tourney_id,540,540,540,403,520,540,580,560,540,540