# ATP Tennis Data - Feature Engineering

In previous notebook, we pre-processed the ATP match data by:
* dropping columns with little data
* cleaning string columns
* imputing any data that we can reasonably impute

For this notebook, we will use the data saved from pre-processing and start doing some basic feature engineering so we can feed  our data to our models to see how we do. My goal is to start training models and see how they do as soon as possible, so we will stick with the following basic feature engineering techniques:
* encode any categorical data - ie, tournament surface, round, winner_ioc, loser_ioc
    * numeric encoding (these are categories that have some type of ordinality or importance)
        * tournament level
        * round of match
    * one hot encoding (non-oridnal categories)
        * tournament id
        * player hand
        * tournament surface
        * player id
        * player origin
* extra month from the tournament date
* label each row with 0 as Player 1 losing to Player 2 and 1 as Player 1 beats Player 2
* remove any remaining columns that we

Output of basic feature engineering:
* tournament
    * tournament id - extract from current tourney_id field
    * tournament level - encode
    * month of tournament - extract from tourney_date
    * year of tournament - extract from tourney_date
    * surface - one hot encode
    * draw size
    * best of
* player 1 and player 2
    * player id
    * rank
    * height
    * ioc - encode
    * age
    * seed
    * hand - encode
* match
    * round - encode
* label
    * whether player 1 beat player 2 - 0 - False, 1 - True
    
NOTE: For every entry in our pre-processing file, we will create 2 entries in the feature file. (1) winner is player 1 (2) winner is player 2. We do this because we want to make sure that there is no bias introduced when placing winner in either the player 1 or player 2 slots
    

## Future:
In a future notebook, I plan on implementing more advanced feature engineering with:
* look up matchup history for players
    * match-up stats for pervious matchups
* add match player record leading up to the match for each player (ie, last X matches)
* look up player stats leading up to match for each player (ie, last X matches)
* contruct 2 entries of data per row since match-up and player record leading up to a match will differe depending on which player is player 1 or 2


## Missing Data:

There are some features that are  missing from our dataset. In the future, we could look into somehow scrapping or manually getting these. I looked at the ATP website to see how to get this data, but it is not readily apparent since each player/tournament has some type of unique identifier on their website that I haven't figure out how to get. Here are some potential features to get i the future:


* tournament
    * tournament location - ie, city, country
    * whether tournament is indoor or outdoors
    * prize money
* player
    * weight
    * player experience - ie, number of years as a pro

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import json
import random
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from util.model_util import RSTATE
random.seed(RSTATE)


%matplotlib inline
sns.set()

In [2]:
# Contants
START_YEAR = 1985
END_YEAR = 2019

DATASET_DIR = '../datasets'
MODEL_DIR = '../models'

# sometimes I run these notebooks via command line. Environment variable is set so we know whether we are in DEBUG mode or not
DEBUG = bool(os.environ.get("IPYNB_DEBUG", False))

if DEBUG:
    PREPROCESSED_FILE = f'{DATASET_DIR}/test-preprocessed.csv'
    FEATURE_FILE = f'{DATASET_DIR}/atp_matches_{START_YEAR}-{END_YEAR}_features_test.csv'
    FEATURE_FILE_DIFF = f'{DATASET_DIR}/atp_matches_{START_YEAR}-{END_YEAR}_features_test-diff.csv'
    FEATURE_FILE_OHE = f'{DATASET_DIR}/atp_matches_{START_YEAR}-{END_YEAR}_features_test-ohe.csv'
    FEATURE_FILE_DIFF_OHE = f'{DATASET_DIR}/atp_matches_{START_YEAR}-{END_YEAR}_features_test-diff-ohe.csv'
    FEATURE_FILE_RAW_DIFF_OHE = f'{DATASET_DIR}/atp_matches_{START_YEAR}-{END_YEAR}_features_test-raw_diff-ohe.csv'
else:
    # this is the file we generated from our pre-processing notebook
    PREPROCESSED_FILE = f'{DATASET_DIR}/atp_matches_{START_YEAR}-{END_YEAR}_preprocessed.csv'
    FEATURE_FILE = f'{DATASET_DIR}/atp_matches_{START_YEAR}-{END_YEAR}_features.csv'
    FEATURE_FILE_DIFF = f'{DATASET_DIR}/atp_matches_{START_YEAR}-{END_YEAR}_features-diff.csv'
    FEATURE_FILE_OHE = f'{DATASET_DIR}/atp_matches_{START_YEAR}-{END_YEAR}_features-ohe.csv'
    FEATURE_FILE_DIFF_OHE = f'{DATASET_DIR}/atp_matches_{START_YEAR}-{END_YEAR}_features-diff-ohe.csv'
    FEATURE_FILE_RAW_DIFF_OHE = f'{DATASET_DIR}/atp_matches_{START_YEAR}-{END_YEAR}_features-raw_diff-ohe.csv'

In [3]:
pre = pd.read_csv(PREPROCESSED_FILE, parse_dates=["tourney_date"])

In [4]:
pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99955 entries, 0 to 99954
Data columns (total 45 columns):
tourney_id       99955 non-null object
tourney_name     99955 non-null object
surface          99955 non-null object
draw_size        99955 non-null float64
tourney_level    99955 non-null object
tourney_date     99955 non-null datetime64[ns]
match_num        99955 non-null int64
winner_id        99955 non-null int64
winner_seed      99955 non-null float64
winner_name      99955 non-null object
winner_hand      99955 non-null object
winner_ht        99955 non-null float64
winner_ioc       99955 non-null object
winner_age       99955 non-null float64
loser_id         99955 non-null int64
loser_seed       99955 non-null float64
loser_name       99955 non-null object
loser_hand       99955 non-null object
loser_ht         99955 non-null float64
loser_ioc        99955 non-null object
loser_age        99955 non-null float64
score            99951 non-null object
best_of          99955 non-null int64
round            99955 non-null object
minutes          99955 non-null float64
w_ace            82193 non-null float64
w_df             82193 non-null float64
w_svpt           82193 non-null float64
w_1stin          82193 non-null float64
w_1stwon         82193 non-null float64
w_2ndwon         82193 non-null float64
w_svgms          82193 non-null float64
w_bpsaved        82193 non-null float64
w_bpfaced        82193 non-null float64
l_ace            82193 non-null float64
l_df             82193 non-null float64
l_svpt           82193 non-null float64
l_1stin          82193 non-null float64
l_1stwon         82193 non-null float64
l_2ndwon         82193 non-null float64
l_svgms          82193 non-null float64
l_bpsaved        82193 non-null float64
l_bpfaced        82193 non-null float64
winner_rank      99955 non-null float64
loser_rank       99955 non-null float64
dtypes: datetime64[ns](1), float64(28), int64(4), object(12)
memory usage: 34.3+ MB

## Let's look at the data to make sure all the types are correct before we being

In [5]:
pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99955 entries, 0 to 99954
Data columns (total 45 columns):
tourney_id       99955 non-null object
tourney_name     99955 non-null object
surface          99955 non-null object
draw_size        99955 non-null float64
tourney_level    99955 non-null object
tourney_date     99955 non-null datetime64[ns]
match_num        99955 non-null int64
winner_id        99955 non-null int64
winner_seed      99955 non-null float64
winner_name      99955 non-null object
winner_hand      99955 non-null object
winner_ht        99955 non-null float64
winner_ioc       99955 non-null object
winner_age       99955 non-null float64
loser_id         99955 non-null int64
loser_seed       99955 non-null float64
loser_name       99955 non-null object
loser_hand       99955 non-null object
loser_ht         99955 non-null float64
loser_ioc        99955 non-null object
loser_age        99955 non-null float64
score            99951 non-null object
best_of          99955 non-null int64
round            99955 non-null object
minutes          99955 non-null float64
w_ace            82193 non-null float64
w_df             82193 non-null float64
w_svpt           82193 non-null float64
w_1stin          82193 non-null float64
w_1stwon         82193 non-null float64
w_2ndwon         82193 non-null float64
w_svgms          82193 non-null float64
w_bpsaved        82193 non-null float64
w_bpfaced        82193 non-null float64
l_ace            82193 non-null float64
l_df             82193 non-null float64
l_svpt           82193 non-null float64
l_1stin          82193 non-null float64
l_1stwon         82193 non-null float64
l_2ndwon         82193 non-null float64
l_svgms          82193 non-null float64
l_bpsaved        82193 non-null float64
l_bpfaced        82193 non-null float64
winner_rank      99955 non-null float64
loser_rank       99955 non-null float64
dtypes: datetime64[ns](1), float64(28), int64(4), object(12)
memory usage: 34.3+ MB

In [6]:
pre.sample(5).T

,18687,60166,90551,93342,71236
tourney_id,1991-419,2004-311,2015-520,2016-0741,2008-717
tourney_name,indianapolis,queen s club,roland garros,nottingham,houston
surface,hard,grass,clay,grass,clay
draw_size,64,64,128,64,32
tourney_level,a,a,g,a,a
tourney_date,1991-08-12 00:00:00,2004-06-07 00:00:00,2015-05-24 00:00:00,2016-06-20 00:00:00,2008-04-14 00:00:00
match_num,31,36,114,285,14
winner_id,101789,103971,104745,104731,104639
winner_seed,45,25,6,1,25
winner_name,steve bryan,karol beck,rafael nadal,kevin anderson,wayne odesnik
winner_hand,r,r,l,r,l
winner_ht,178,180,185,203,180
winner_ioc,usa,svk,esp,rsa,usa
winner_age,21,22.18,28.97,30.09,22.4
loser_id,101630,102450,106058,104471,104025
loser_seed,52,4,36,31,28
loser_name,clement ngoran,tim henman,jack sock,ivan dodig,amer delic
loser_hand,r,r,r,r,r
loser_ht,178,185,185,183,196
loser_ioc,civ,gbr,usa,cro,bih
loser_age,22.01,29.75,22.66,31.46,25.79
score,6-2 3-6 7-6,6-2 3-6 7-6,6-3 6-1 5-7 6-2,6-3 6-7 6-3,6-3 6-3
best_of,3,3,5,3,3
round,r32,r32,r16,r32,r32
minutes,120,114,172,126,91
w_ace,1,13,1,21,2
w_df,2,3,2,5,1
w_svpt,81,80,98,102,73
w_1stin,50,52,65,56,52
w_1stwon,37,44,45,46,41
w_2ndwon,17,16,19,27,8
w_svgms,14,14,18,16,9
w_bpsaved,6,1,3,0,7
w_bpfaced,9,2,7,0,7
l_ace,14,4,2,12,5
l_df,4,5,9,4,3
l_svpt,109,103,122,90,66
l_1stin,75,74,56,62,43
l_1stwon,48,55,31,50,28
l_2ndwon,15,12,31,10,8
l_svgms,15,15,18,14,9
l_bpsaved,9,5,12,1,5
l_bpfaced,13,7,21,3,8
winner_rank,184,79,7,24,117
loser_rank,312,5,37,76,139

# Tournament Info

* tournament id - extract from current tourney_id field
* tournament level - one hot encode
* month of tournament - extract from tourney_date
* year of tournament - extract from tourney_date
* surface - one hot encode
* draw size
* best of

### Extract tournment ID aand Encode

Since players may have an affinity for certainly tournaments because of location or conditions, we should include this into our features

First let's rename the columns since it's rather confusing - currently, tourney_id is a composite of {year}-{id}. ID is alphanumeric so we need to encode these

In [7]:
matches = pre
matches = matches.rename({"tourney_id": "tourney_year_plus_id"}, axis=1)
matches["tourney_id"] = matches.tourney_year_plus_id.apply(lambda x: x.split("-")[1])
matches.sample(5, random_state=RSTATE).tourney_id

57294    311
20858    434
17975    440
21211    520
89342    301
Name: tourney_id, dtype: object

In [8]:


tidle = LabelEncoder()
tid_labels = tidle.fit_transform(matches['tourney_id'])
tid_map = {label: num for num, label in enumerate(tidle.classes_)}
print(tid_map)

matches["tourney_id_label"] = matches["tourney_id"].map(tid_map)

# save off map to be used later
with open(f'{MODEL_DIR}/tid_map.json', 'w') as file:
    json.dump(tid_map, file)
    
matches.sample(5)[["tourney_id", "tourney_id_label"]]

{'0301': 0, '0308': 1, '0311': 2, '0314': 3, '0315': 4, '0316': 5, '0319': 6, '0321': 7, '0322': 8, '0328': 9, '0329': 10, '0337': 11, '0341': 12, '0352': 13, '0360': 14, '0375': 15, '0402': 16, '0407': 17, '0410': 18, '0414': 19, '0421': 20, '0424': 21, '0425': 22, '0429': 23, '0439': 24, '0451': 25, '0495': 26, '0496': 27, '0499': 28, '0500': 29, '0506': 30, '0533': 31, '0568': 32, '0605': 33, '0717': 34, '0741': 35, '0773': 36, '0891': 37, '1536': 38, '1720': 39, '201': 40, '215': 41, '224': 42, '2276': 43, '237': 44, '240': 45, '301': 46, '302': 47, '303': 48, '304': 49, '305': 50, '306': 51, '308': 52, '309': 53, '310': 54, '311': 55, '312': 56, '313': 57, '314': 58, '315': 59, '316': 60, '317': 61, '318': 62, '319': 63, '321': 64, '322': 65, '323': 66, '325': 67, '326': 68, '327': 69, '328': 70, '329': 71, '330': 72, '332': 73, '3348': 74, '336': 75, '337': 76, '338': 77, '339': 78, '341': 79, '3465': 80, '348': 81, '352': 82, '354': 83, '357': 84, '359': 85, '360': 86, '366': 87, '367': 88, '375': 89, '379': 90, '401': 91, '402': 92, '403': 93, '404': 94, '405': 95, '406': 96, '407': 97, '408': 98, '409': 99, '410': 100, '411': 101, '412': 102, '414': 103, '415': 104, '416': 105, '417': 106, '418': 107, '419': 108, '420': 109, '421': 110, '422': 111, '423': 112, '424': 113, '425': 114, '426': 115, '427': 116, '428': 117, '429': 118, '430': 119, '433': 120, '434': 121, '435': 122, '436': 123, '437': 124, '438': 125, '439': 126, '440': 127, '441': 128, '450': 129, '451': 130, '456': 131, '457': 132, '463': 133, '468': 134, '473': 135, '475': 136, '481': 137, '494': 138, '495': 139, '496': 140, '497': 141, '498': 142, '499': 143, '500': 144, '5012': 145, '5014': 146, '505': 147, '5053': 148, '506': 149, '517': 150, '520': 151, '533': 152, '540': 153, '544': 154, '560': 155, '568': 156, '573': 157, '580': 158, '6003': 159, '604': 160, '605': 161, '610': 162, '6116': 163, '6120': 164, '615': 165, '620': 166, '6242': 167, '6710': 168, '6718': 169, '6932': 170, '6967': 171, '708': 172, '7161': 173, '7163': 174, '717': 175, '727': 176, '7290': 177, '73': 178, '741': 179, '7434': 180, '747': 181, '7480': 182, '7485': 183, '7581': 184, '7648': 185, '7650': 186, '7694': 187, '7696': 188, '773': 189, '80': 190, '807': 191, '88': 192, '890': 193, '891': 194, '92': 195, '96': 196, 'm001': 197, 'm004': 198, 'm006': 199, 'm007': 200, 'm009': 201, 'm010': 202, 'm014': 203, 'm015': 204, 'm016': 205, 'm020': 206, 'm021': 207, 'm024': 208, 'm035': 209, 'm052': 210, 'o16': 211}

      tourney_id  tourney_id_label
96189       0316                 5
80267        316                60
11947        422               111
46425        573               157
21570        540               153

### Tournament Level

Tournament level does have some type of implicit ordinality to them since tournaments are worth different points according to their levels with 'g' (grand slams) worth the most number of points

We will do a custom encoding for these

Here are the point values for winner the levels:
* g - grand slam - 2000
* f - tour final - 1500
* m - masters - 1000
* a - other tour event - anywhere between 250 to 500 depending on the series

In [9]:
np.unique(matches.tourney_level)

array(['a', 'f', 'g', 'm'], dtype=object)

In [10]:
import json

level_map = {'g': 1, 'f': 2, 'm': 3, 'a': 4}
matches["tourney_level_label"] = matches['tourney_level'].map(level_map)
# let's check our work
matches.sample(5)[["tourney_level", "tourney_level_label"]]

# let's save off the map for later use
with open(f'{MODEL_DIR}/tourney_level_map.json', 'w') as file:
    json.dump(level_map, file)

### Tournamant year and Month

We can extract this from the tourney_date

In [11]:
matches["tourney_year"] = matches.tourney_date.dt.year
matches["tourney_month"] = matches.tourney_date.dt.month
matches.sample(5)[["tourney_year", "tourney_month", "tourney_date"]]

       tourney_year  tourney_month tourney_date
9175           1988             10   1988-10-10
23554          1993              2   1993-02-01
72697          2008              9   2008-09-08
70761          2008              2   2008-02-18
59281          2004              3   2004-03-01

### Tournament Surface

There is no ordinality here so we can just use a label encoder

In [12]:

surface_le = LabelEncoder()
surface_labels = surface_le.fit_transform(matches['surface'])
surface_map = {label: num for num, label in enumerate(surface_le.classes_)}
print(surface_map)

matches["surface_label"] = matches["surface"].map(surface_map)

# save off map to be used later
with open(f'{MODEL_DIR}/surface_map.json', 'w') as file:
    json.dump(surface_map, file)
    
matches.sample(5)[["surface", "surface_label"]]

{'carpet': 0, 'clay': 1, 'grass': 2, 'hard': 3}

      surface  surface_label
44160    hard              3
4937     clay              1
41696    clay              1
93119    clay              1
67092    hard              3

# Generate Player Features

Most are already numbers that we can feed into the model - we will just keep these for now

### Player origin (ioc)

Again there is no ordinality to this so we will use the LabelEncoder

In [13]:
ioc_le = LabelEncoder()
# we have to append loser and winner list to get comprehensive list
ioc_labels = ioc_le.fit_transform(matches["loser_ioc"].append(matches["winner_ioc"]))
ioc_map = {label: num for num, label in enumerate(ioc_le.classes_)}
print(ioc_map)

matches["loser_ioc_label"] = matches["loser_ioc"].map(ioc_map)
matches["winner_ioc_label"] = matches["winner_ioc"].map(ioc_map)

# save off map to be used later
with open(f'{MODEL_DIR}/ioc_map.json', 'w') as file:
    json.dump(ioc_map, file)
    
matches.sample(5)[["loser_ioc", "loser_ioc_label", "winner_ioc", "winner_ioc_label"]]

{'alg': 0, 'arg': 1, 'arm': 2, 'aus': 3, 'aut': 4, 'aze': 5, 'bah': 6, 'bar': 7, 'bel': 8, 'ben': 9, 'ber': 10, 'bih': 11, 'blr': 12, 'bol': 13, 'bra': 14, 'bul': 15, 'can': 16, 'chi': 17, 'chn': 18, 'civ': 19, 'col': 20, 'crc': 21, 'cro': 22, 'cub': 23, 'cyp': 24, 'cze': 25, 'den': 26, 'dom': 27, 'ecu': 28, 'egy': 29, 'esa': 30, 'esp': 31, 'est': 32, 'fin': 33, 'fra': 34, 'gbr': 35, 'geo': 36, 'ger': 37, 'gre': 38, 'hai': 39, 'hkg': 40, 'hun': 41, 'ina': 42, 'ind': 43, 'iri': 44, 'irl': 45, 'isr': 46, 'ita': 47, 'jam': 48, 'jpn': 49, 'kaz': 50, 'ken': 51, 'kor': 52, 'kuw': 53, 'lat': 54, 'ltu': 55, 'lux': 56, 'mar': 57, 'mas': 58, 'mda': 59, 'mex': 60, 'mkd': 61, 'mon': 62, 'ned': 63, 'ngr': 64, 'nor': 65, 'nzl': 66, 'pak': 67, 'par': 68, 'per': 69, 'phi': 70, 'pol': 71, 'por': 72, 'pur': 73, 'qat': 74, 'rou': 75, 'rsa': 76, 'rus': 77, 'sen': 78, 'slo': 79, 'srb': 80, 'sui': 81, 'svk': 82, 'swe': 83, 'tha': 84, 'tog': 85, 'tpe': 86, 'tun': 87, 'tur': 88, 'uae': 89, 'ukr': 90, 'unk': 91, 'uru': 92, 'usa': 93, 'uzb': 94, 'ven': 95, 'vie': 96, 'yug': 97, 'zim': 98}

      loser_ioc  loser_ioc_label winner_ioc  winner_ioc_label
58163       cro               22        ned                63
59466       aut                4        cze                25
56216       chi               17        esp                31
6184        arg                1        bra                14
5833        sui               81        usa                93

### Player Hand - (l/r/u)

This is simple categorial data - will use LabelEncoder

In [14]:
hand_le = LabelEncoder()
# we have to append loser and winner list to get comprehensive list
hand_labels = hand_le.fit_transform(matches["loser_hand"].append(matches["winner_hand"]))
hand_map = {label: num for num, label in enumerate(hand_le.classes_)}
print(hand_map)

matches["loser_hand_label"] = matches["loser_hand"].map(hand_map)
matches["winner_hand_label"] = matches["winner_hand"].map(hand_map)

# save off map to be used later
with open(f'{MODEL_DIR}/hand_map.json', 'w') as file:
    json.dump(hand_map, file)
    
matches.sample(9)[["loser_hand", "loser_hand_label", "winner_hand", "winner_hand_label"]]

{'l': 0, 'r': 1, 'u': 2}

      loser_hand  loser_hand_label winner_hand  winner_hand_label
826            r                 1           r                  1
658            r                 1           l                  0
70582          r                 1           r                  1
73399          r                 1           l                  0
68891          r                 1           r                  1
7007           r                 1           r                  1
82429          r                 1           r                  1
27343          r                 1           r                  1
81064          r                 1           r                  1

## Match Features

Only feature we will use for now is round. There is an ordinality to the rounds so we will use a custome encoding

Couple issues with this:

'rr' - means round robin. This usually means that all players in a tournament is divided into multiple flights (ie, 2). All players in the flight play against each other. The year end final for instance has 8 players. Top 2 players from each flight make it to semi finals. Winner of that match goes to finals. So rr could mean any of the 3 matches a player would play in the flight. We will just pick the next unique number to encode this.

https://en.wikipedia.org/wiki/ATP_Finals

'br' - Not sure what this indicates. Will encode this as the last value

<red>try one hot encoding and see the effect</red>

In [15]:
np.unique(matches["round"])

array(['br', 'f', 'qf', 'r128', 'r16', 'r32', 'r64', 'rr', 'sf'],
      dtype=object)

In [16]:
round_map = {'f': 1, 
            'sf': 2,
            'qf': 3,
            'r16': 4,
            'r32': 5,
            'r64': 6,
            'r128': 7,
            'rr': 8,
            'br': 9}
matches["round_label"] = matches["round"].map(round_map)

# save off map to be used later
with open(f'{MODEL_DIR}/round_map.json', 'w') as file:
    json.dump(round_map, file)
    
matches.sample(5)[["round", "round_label"]]

      round  round_label
32445   r32            5
48696   r32            5
48659    qf            3
23960   r16            4
23236   r16            4

# Let's check out our data one more time

In [17]:
matches.sample(5).T

,1907,78213,71423,97266,72565
tourney_year_plus_id,1986-421,2010-747,2008-308,2018-0301,2008-560
tourney_name,montreal toronto,beijing,munich,auckland,us open
surface,hard,hard,clay,hard,hard
draw_size,64,32,32,32,128
tourney_level,m,a,a,a,g
tourney_date,1986-08-11 00:00:00,2010-10-04 00:00:00,2008-04-28 00:00:00,2018-01-08 00:00:00,2008-08-25 00:00:00
match_num,39,14,29,292,9
winner_id,101048,105238,104620,104898,103484
winner_seed,22,27,10,9,9
winner_name,francisco maciel,alexandr dolgopolov,simone bolelli,robin haase,james blake
winner_hand,r,r,r,r,r
winner_ht,185,180,183,190,185
winner_ioc,mex,ukr,ita,ned,usa
winner_age,22.11,21.91,22.55,30.76,28.66
loser_id,100752,104571,103908,105041,105385
loser_seed,16,12,1,20,91
loser_name,ramesh krishnan,marcos baghdatis,paul henri mathieu,lukas lacko,donald young
loser_hand,r,r,r,r,l
loser_ht,170,183,185,185,183
loser_ioc,ind,cyp,fra,svk,usa
loser_age,25.18,25.3,26.29,30.18,19.09
score,6-4 1-6 6-3,6-4 6-4,7-6 4-6 7-6,7-6 6-3,6-1 3-6 6-1 4-6 6-4
best_of,3,3,3,3,5
round,r32,r32,sf,r16,r128
minutes,100.344,83,186,84,169
w_ace,NaN,5,15,9,7
w_df,NaN,1,3,1,5
w_svpt,NaN,77,128,73,156
w_1stin,NaN,37,88,47,91
w_1stwon,NaN,24,61,37,68
w_2ndwon,NaN,18,20,13,33
w_svgms,NaN,10,17,11,22
w_bpsaved,NaN,7,4,1,10
w_bpfaced,NaN,10,7,2,13
l_ace,NaN,1,6,6,6
l_df,NaN,4,3,2,6
l_svpt,NaN,63,111,63,138
l_1stin,NaN,26,69,37,82
l_1stwon,NaN,18,50,27,52
l_2ndwon,NaN,15,22,15,27
l_svgms,NaN,10,17,10,21
l_bpsaved,NaN,5,5,0,9
l_bpfaced,NaN,10,7,2,15
winner_rank,50,56,58,43,9
loser_rank,33,18,18,90,102
tourney_id,421,747,308,0301,560
tourney_id_label,110,181,52,0,155
tourney_level_label,3,4,4,4,1
tourney_year,1986,2010,2008,2018,2008
tourney_month,8,10,4,1,8
surface_label,3,3,1,3,3
loser_ioc_label,43,24,34,82,93
winner_ioc_label,60,90,47,63,93
loser_hand_label,1,1,1,1,0
winner_hand_label,1,1,1,1,1
round_label,5,5,2,4,7

# 1 - Generate Features and Ground Truth

This is going to be a little bit tricky. If we leave the columns as it, all of our labels for winner/loser would be 1 since winner column is first.

Instead, we are going to have to loop through all rows and randomly place winner or loser as player 1 so that we can have labels that are both 0 and 1

In [18]:

tourney_cols = ["tourney_id", "tourney_id_label", "tourney_level", "tourney_level_label", "tourney_year", "tourney_month", "surface", "surface_label", "draw_size", "round", "round_label", "best_of"]

def generate_feature_row(idx: int, row: pd.Series) -> dict:
    if idx % 10000 == 0:
        print(f'Processing index {idx}')
    
    m1 = {}
    m2 = {}
    # first add static columns for tournament and match
    for tc in tourney_cols:
        m1[tc] = row[tc]
        m2[tc] = row[tc]
        
    # now depending on what random gives us either put winner as p1 or loser as p1
    m1_player = {
        "p1": row.winner_id,
        "p1_rank": row.winner_rank,
        "p1_ht": row.winner_ht,
        "p1_ioc": row.winner_ioc,
        "p1_ioc_label": row.winner_ioc_label,
        "p1_age": row.winner_age,
        "p1_seed": row.winner_seed,
        "p1_hand": row.winner_hand,
        "p1_hand_label": row.winner_hand_label,
        "p2": row.loser_id,
        "p2_rank": row.loser_rank,
        "p2_ht": row.loser_ht,
        "p2_ioc": row.loser_ioc,
        "p2_ioc_label": row.loser_ioc_label,
        "p2_age": row.loser_age,
        "p2_seed": row.loser_seed,
        "p2_hand": row.loser_hand,
        "p2_hand_label": row.loser_hand_label,
        "p1_winner": 1,
        "rank_diff": row.winner_rank - row.loser_rank,
        "ht_diff": row.winner_ht - row.loser_ht,
        "age_diff": row.winner_age - row.loser_age,
        "seed_diff": row.winner_seed - row.loser_seed,

    }
    m2_player = {
        "p1": row.loser_id,
        "p1_rank": row.loser_rank,
        "p1_ht": row.loser_ht,
        "p1_ioc": row.loser_ioc,
        "p1_ioc_label": row.loser_ioc_label,
        "p1_age": row.loser_age,
        "p1_seed": row.loser_seed,
        "p1_hand": row.loser_hand,
        "p1_hand_label": row.loser_hand_label,
        "p2": row.winner_id,
        "p2_rank": row.winner_rank,
        "p2_ht": row.winner_ht,
        "p2_ioc": row.winner_ioc,
        "p2_ioc_label": row.winner_ioc_label,
        "p2_age": row.winner_age,
        "p2_seed": row.winner_seed,
        "p2_hand": row.winner_hand,
        "p2_hand_label": row.winner_hand_label,
        "p1_winner": 0,
        "rank_diff": row.loser_rank - row.winner_rank,
        "ht_diff": row.loser_ht - row.winner_ht,
        "age_diff": row.loser_age - row.winner_age,
        "seed_diff": row.loser_seed - row.winner_seed,
    }
    m1.update(m1_player)
    m2.update(m2_player)

    return m1, m2

features = pd.DataFrame()
for idx, row in matches.iterrows():
    d1, d2 = generate_feature_row(idx, row)
    features = features.append(d1, ignore_index=True)
    features = features.append(d2, ignore_index=True)

features.info()

Processing index 0
Processing index 10000
Processing index 20000
Processing index 30000
Processing index 40000

KeyboardInterrupt:

In [ ]:
type_map = {
    "tourney_id_label": np.int32,
    "tourney_level_label": np.int32,
    "tourney_year": np.int32,
    "tourney_month": np.int32,
    "surface_label": np.int32,
    "draw_size": np.int32,
    "round_label": np.int32,
    "p1": np.int32,
    "p1_rank": np.int32,
    "p1_ioc_label": np.int32,
    "p1_seed": np.int32,
    "p1_hand_label": np.int32,
    "p2": np.int32,
    "p2_rank": np.int32,
    "p2_ioc_label": np.int32,
    "p2_seed": np.int32,
    "p2_hand_label": np.int32,
    "p1_winner": np.int32,
    "rank_diff": np.int32,
    "ht_diff": np.int32,
    "age_diff": np.int32,
    "seed_diff": np.int32,
    "best_of": np.int32,
}

features = features.astype(type_map)
features.info()

In [ ]:
features.sample(5).T

In [ ]:
# verify that seed diff is <= rank diff
features[abs(features.seed_diff) > abs(features.rank_diff)][["seed_diff", "rank_diff"]]

### Save to File

In [ ]:
# fix this.. this is not right yet
raw_feature_columns = ["best_of", "draw_size", "round_label", "surface_label", "tourney_id_label", "tourney_level_label", "tourney_month", "tourney_year",
                   "p1", "p1_age", "p1_hand_label", "p1_ht", "p1_ioc_label", "p1_rank", "p1_seed", 
                   "p2", "p2_age", "p2_hand_label", "p2_ht", "p2_ioc_label", "p2_rank", "p2_seed", 
                   "p1_winner"
                  ]
diff_columns = ["best_of", "draw_size", "round_label", "surface_label", "tourney_id_label", "tourney_level_label", "tourney_month", "tourney_year",
                   "p1", "p1_hand_label", "p1_ioc_label", 
                   "p2", "p2_hand_label", "p2_ioc_label", 
                "age_diff", "ht_diff", "seed_diff", "rank_diff",
                   "p1_winner"
                  ]

features_raw = features[raw_feature_columns]
features_raw.to_csv(FEATURE_FILE, index=False)

features_diff = features[diff_columns]
features_diff.to_csv(FEATURE_FILE_DIFF, index=False)

### Check that we are roughly evenly distributed since we used the uniform distribution

In [ ]:
features[['p1_winner','draw_size']].groupby("p1_winner").count().plot(kind='bar')

# 2 - Generate Features and Ground Truth Using One Hot Encoding

For our categorical data, we are currently using label encoding. Label encoding basically assigned a unique number to each categorical value and we use this as features

Alternative method is to use one hot encoding. Each category will be coverted into a unique column - 1 will be assigned to the column if the value matches that column, all other columns will have 0 value. We will try this method to see if it makes a difference in our models

Our categories are:
* player id
* player hand
* player ioc (origin)
* tournament ID
* surface
* best_of

In [ ]:
from sklearn.preprocessing import OneHotEncoder
import pickle

# def encode_columns(df: pd.DataFrame, col1: str, col2: str = None, col_labels: list = None) -> (pd.DataFrame, OneHotEncoder):
def ohe_columns(name: str, df: pd.DataFrame, col1: str, col2: str = None) -> (pd.DataFrame, OneHotEncoder):
    """
    Encodes columns and returns a DataFrame and encoder
    :param: name - encoder name to save
    :param: df - dataframe with data
    :param: col1 - name of first column to encode (ie, p1 column)
    :param: col2 - name of 2nd column to encode (ie, p2 column) - we need to do this so that the encoder knows about all values for p1 and p2
    
    :return: dataframe with encoded values and column names
    :return: encoder
    """
    encoded_return = None
    ohe = OneHotEncoder(handle_unknown='ignore', sparse = False, dtype=np.int)
    if col2:
        # sometimes not all values are in one column between p1 and p2, we have to melt them to fit the encoder
        ohe.fit(pd.melt(df[[col1, col2]])[["value"]])
        encoded_array1 = ohe.transform(df[[col1]])
        encoded_array2 = ohe.transform(df[[col2]])
        encoded_df = pd.DataFrame(encoded_array1, columns=[col1 + "_" + str(col) for col in ohe.categories_[-1]])
        encoded_df2 = pd.DataFrame(encoded_array2, columns=[col2 + "_" + str(col) for col in ohe.categories_[-1]])
        encoded_pd = pd.concat([encoded_df, encoded_df2], axis=1)
    else:
        encoded_array = ohe.fit_transform(df[[col1]])
        encoded_pd = pd.DataFrame(encoded_array, columns=[col1 + "_" + str(col) for col in ohe.categories_[-1]])

    # save off our encoder
    pickle.dump(ohe, open(f'{MODEL_DIR}/{name}_ohe.pkl', 'wb'))
    
    # drop old columns
    return_pd = pd.concat([df, encoded_pd], axis=1)
    if col2:
        return_pd = return_pd.drop([col1, col2], axis=1)
    else:
        return_pd = return_pd.drop([col1], axis=1)
    
    
    return return_pd, ohe

### let's recreate the diff dataset but we will encode categorical columns

ohe the following columns: 
player id
player hand
player ioc (origin)
tournament ID
surface

In [ ]:
features.info()

In [ ]:
def get_reverse_map(encoder: LabelEncoder) -> dict:
    """
    reverses label encoder mapping into a dictionary so we can map values back into original values
    :param: encoder - label encoder
    :return: dict with reverse mapping from label encoder
    """
    return {i: encoder.classes_[i] for i in range(0, len(encoder.classes_))}

To save time, instead of iterating and recreating the data set, we are going to reverse encode columns that we encoded using label encoder

Then we will use our ohe function to one hot encode these columns into more feature columns

In [ ]:
# let's make a copy of our data

# raw_feature_columns = ["best_of", "draw_size", "round_label", "surface_label", "tourney_id_label", "tourney_level_label", "tourney_month", "tourney_year",
#                    "p1", "p1_age", "p1_hand_label", "p1_ht", "p1_ioc_label", "p1_rank", "p1_seed", 
#                    "p2", "p2_age", "p2_hand_label", "p2_ht", "p2_ioc_label", "p2_rank", "p2_seed", 
#                    "p1_winner"
#                   ]
# diff_columns = ["best_of", "draw_size", "round_label", "surface_label", "tourney_id_label", "tourney_level_label", "tourney_month", "tourney_year",
#                    "p1", "p1_hand_label", "p1_ioc_label", 
#                    "p2", "p2_hand_label", "p2_ioc_label", 
#                 "age_diff", "ht_diff", "seed_diff", "rank_diff",
#                    "p1_winner"
#                   ]

ohe_cols = ["best_of", "draw_size", "round_label", "surface", "tourney_id", "tourney_level_label", "tourney_month", "tourney_year",
                   "p1", "p1_hand", "p1_ioc", 
                   "p2", "p2_hand", "p2_ioc", 
                  "age_diff", "ht_diff", "seed_diff", "rank_diff",
                   "p1_winner"
                  ]


features_diff_ohe = features[ohe_cols].copy()

# reverse player hand
# hand_reverse_map = get_reverse_map(hand_le)
# features_ohe["p1_hand"] = features_ohe["p1_hand"].map(hand_reverse_map)
# features_ohe["p2_hand"] = features_ohe["p2_hand"].map(hand_reverse_map)

# reverse player ioc
# ioc_reverse_map = get_reverse_map(ioc_le)
# features_ohe["p1_ioc"] = features_ohe["p1_ioc"].map(ioc_reverse_map)
# features_ohe["p2_ioc"] = features_ohe["p2_ioc"].map(ioc_reverse_map)

# reverse surface
# surface_reverse_map = get_reverse_map(surface_le)
# features_ohe["surface_label"] = features_ohe["surface_label"].map(surface_reverse_map)


print(features_diff_ohe[["p1_hand", "p2_hand", "p1_ioc", "p2_ioc", "surface", "p1", "p2", "tourney_id", "best_of"]].head())

features_diff_ohe.info()

In [ ]:
features_diff_ohe, hand_ohe = ohe_columns("hand", features_diff_ohe, "p1_hand", "p2_hand")
features_diff_ohe, surface_ohe = ohe_columns("surface", features_diff_ohe, "surface")
features_diff_ohe, ioc_ohe = ohe_columns("ioc", features_diff_ohe, "p1_ioc", "p2_ioc")
features_diff_ohe, tourney_id_ohe = ohe_columns("tourney_id", features_diff_ohe, "tourney_id")
features_diff_ohe, player_id_ohe = ohe_columns("player_id", features_diff_ohe, "p1", "p2")
features_diff_ohe, best_of_ohe = ohe_columns("best_of", features_diff_ohe, "best_of")


features_diff_ohe.info()

In [ ]:
features_diff_ohe.head()

In [ ]:
features_diff_ohe.to_csv(FEATURE_FILE_DIFF_OHE, index=False)

In [ ]:
features_diff_ohe.info()

In [ ]:
features_diff_ohe.shape

## We will use raw data and encode categorical columns

In [ ]:

raw_ohe_columns = ["best_of", "draw_size", "round_label", "surface", "tourney_id", "tourney_level_label", "tourney_month", "tourney_year",
                   "p1", "p1_age", "p1_hand", "p1_ht", "p1_ioc", "p1_rank", "p1_seed", 
                   "p2", "p2_age", "p2_hand", "p2_ht", "p2_ioc", "p2_rank", "p2_seed", 
                   "p1_winner"
                  ]

features_ohe = features[raw_ohe_columns].copy()
print(features_ohe[["p1_hand", "p2_hand", "p1_ioc", "p2_ioc", "surface", "p1", "p2", "tourney_id", "best_of"]].head())

In [ ]:
features_ohe, hand_ohe = ohe_columns("hand", features_ohe, "p1_hand", "p2_hand")
features_ohe, surface_ohe = ohe_columns("surface", features_ohe, "surface")
features_ohe, ioc_ohe = ohe_columns("ioc", features_ohe, "p1_ioc", "p2_ioc")
features_ohe, tourney_id_ohe = ohe_columns("tourney_id", features_ohe, "tourney_id")
features_ohe, player_id_ohe = ohe_columns("player_id", features_ohe, "p1", "p2")
features_ohe, best_of_ohe = ohe_columns("best_of", features_ohe, "best_of")


features_ohe.head()

In [ ]:
features_ohe.to_csv(FEATURE_FILE_OHE, index=False)
features_ohe.shape

# Create dataset with both raw and diff data

This is actually the data set we will keep. It has all variations of the data that we created so we can filter and experiment

In [ ]:

raw_diff_ohe_columns = ["best_of", "draw_size", "round_label", "surface", "tourney_id", "tourney_level_label", "tourney_month", "tourney_year",
                   "p1", "p1_age", "p1_hand", "p1_ht", "p1_ioc", "p1_rank", "p1_seed", 
                   "p2", "p2_age", "p2_hand", "p2_ht", "p2_ioc", "p2_rank", "p2_seed", 
                  "age_diff", "ht_diff", "seed_diff", "rank_diff",
                   "p1_winner"
                  ]



features_raw_diff_ohe = features[raw_diff_ohe_columns].copy()
print(features_raw_diff_ohe[["p1_hand", "p2_hand", "p1_ioc", "p2_ioc", "surface", "p1", "p2", "tourney_id", "best_of"]].head())

In [ ]:
features_raw_diff_ohe, hand_ohe = ohe_columns("hand", features_raw_diff_ohe, "p1_hand", "p2_hand")
features_raw_diff_ohe, surface_ohe = ohe_columns("surface", features_raw_diff_ohe, "surface")
features_raw_diff_ohe, ioc_ohe = ohe_columns("ioc", features_raw_diff_ohe, "p1_ioc", "p2_ioc")
features_raw_diff_ohe, tourney_id_ohe = ohe_columns("tourney_id", features_raw_diff_ohe, "tourney_id")
features_raw_diff_ohe, player_id_ohe = ohe_columns("player_id", features_raw_diff_ohe, "p1", "p2")
features_raw_diff_ohe, best_of_ohe = ohe_columns("best_of", features_raw_diff_ohe, "best_of")


features_raw_diff_ohe.head()

In [ ]:
# print out our non-encoded columns
import re
print([col for col in features_raw_diff_ohe.columns if not re.match(r'(p1|p2)_[\d]+', col) and not re.match(r"(p1|p2)_ioc_", col) and not re.match("tourney_id_", col)])

In [ ]:
features_raw_diff_ohe.to_csv(FEATURE_FILE_RAW_DIFF_OHE, index=False)
features_raw_diff_ohe.shape